body {
	padding: 0;
	margin: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.the-content {

	ul:not(.gform_fields) {
		padding: 0;
		margin: 0 0 20px;
		list-style: none;

		li {
			padding-left: 1.5em;
			margin-bottom: 5px;
			list-style: none;
			position: relative;

			&:before {
				content: '•';
				font-size: 25px;
				position: absolute;
				left: 0;
				top: 0;
			}

			ul {

				li {

					&:before {
						content: '○';
						font-size: 16px;
					}
				}
			}
		}
	}

	ol {
		padding: 0;
		margin: 0 0 20px;
		counter-reset: top-level-ol-counter;
		list-style: none;

		> li {
			padding-left: 1.5em;
			margin-bottom: 5px;
			list-style: none;
			counter-increment: top-level-ol-counter;
			position: relative;

			&:before {
				content: counter(top-level-ol-counter);
				position: absolute;
				top: 0;
				left: 0;
			}

			ol {
				padding-top: 10px;
				padding-bottom: 0;
				counter-reset: child-level-ol-counter;
			}

			li {
				padding-left: 1.5em;
				position: relative;
				counter-increment: child-level-ol-counter;

				&:before {
					content: counter(child-level-ol-counter, lower-roman);
				}
			}
		}
	}

	.gallery {
		padding: 40px 0;
	}
}

.gfield {

	&.gform_validation_container {
		display: none;
	}

	&.gfield_error {

		input,
		textarea {
			color: darkred;
		}
	}

	input,
	textarea {
		border: 0;
	}
}

.gform_confirmation_message{
	color: darkgreen;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.alignright{
	float: right;
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

.alignleft {
	float: left;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.bold, strong, b {
	font-weight: bold;
}

.undo-ul {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;
}

.undo-li {
	margin-bottom:0;
	list-style: none;
	list-style-type: none;
}

.undo-p {
	margin: 0;
}

/*a {
	outline: 0;
	text-decoration: none;
}

a:visited {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

a:active {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}*/

a {
	text-decoration: none;
}

/*a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}*/


img {
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

.clearfix:after, .cf:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.flat-left {
	padding-left: 0;
}

.flat-right {
	padding-right: 0;
}

.flat-both {
	padding-left: 0;
	padding-right: 0;
}

.flat-top {
	padding-top: 0;
}

.flat-bottom {
	padding-bottom: 0;
}

.flat-vertical {
	padding-top: 0;
	padding-bottom: 0;
}

.flat-all {
	padding: 0;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.float-none {
	float: none !important;
}

.mfp-arrow::after,
.mfp-arrow::before {
	display: none !important;
}

.mfp-arrow-right {
	background: url("../fw/core/assets/images/chevron-right.svg") no-repeat center center !important;
	background-size: 30px 30px !important;
}

.mfp-arrow-left {
	background: url("../fw/core/assets/images/chevron-left.svg") no-repeat center center !important;
	background-size: 30px 30px !important;
}

.r {
	display: flex;
	flex-wrap: wrap;
}

@for $i from 1 through 9 {

	.gallery-columns-#{$i} dl {
		width: 100% / $i;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
}

@mixin v-align($position: relative) {

	@if($position == none){
		position: relative;
		top: auto;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	} @else {
		position: $position;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@mixin overlay($color) {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: $color;
	z-index: 1;
}

// Take note that the "&" concatenation is
// already here, so this applies to the parent input
@mixin placeholder($color, $opacity: 1)
{
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color;
		opacity: $opacity;
		text-transform: uppercase;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $color;
		opacity: $opacity;
		text-transform: uppercase;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: $color;
		opacity: $opacity;
		text-transform: uppercase;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $color;
		opacity: $opacity;
		text-transform: uppercase;
	}
}