$white: white;
$blue: #1f4598;
$transition: 250ms ease-in-out;
@mixin v-align($position: relative) {

	@if($position == none){
		position: relative;
		top: auto;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	} @else {
		position: $position;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@media (max-width: 1600px)
{
	#page{

		&.with-sidebar{

			#page-inner{
				padding: 60px;
			}
		}
	}

	.landing-form{
		padding: 60px;
	}
}

@media (max-width: 1200px)
{
	#home-products{
		margin: 120px 0 500px 0;
	}

	#home-custom{

		.teaser-image-block{

			.teaser-image-content{
				padding: 60px;
			}
		}
	}

	#home-blog{
		padding: 60px 0;
	}

	#footer{
		padding: 60px 0;
	}

	.two-by-two-content-blocks{

		.content-block{
			padding: 60px;
		}
	}

	#header{

		#site-nav{

			> ul{

				> li{
					font-size: 14px;
					margin-right: 25px;
				}
			}
		}
	}

	#megamenu{
		padding: 40px 0;
	}

	#page{

		&.with-sidebar{

			#page-inner{
				padding: 40px;
			}
		}

		.sidebar-widget{
			padding: 25px;

			.nav-links{

				> ul{
					padding-bottom: 25px;
				}
			}
		}
	}

	.slice{
		padding: 60px 0;
	}

	.toggle-content-rows{

		.toggle-content-row{
			margin-bottom: 60px;

			&.odd{

				.content{
					padding-right: 40px;
				}
			}

			&.even{

				.content{
					padding-left: 40px;
				}
			}
		}
	}

	#about-main-img{
		padding: 60px 0;
	}

	#about-history{
		padding-bottom: 60px;

		.inner{
			padding-left: 40px;
		}
	}

	.two-by-two-content-blocks{

		.content-block{
			padding: 40px;
		}
	}

	#available-positions,
	#forty-reasons,
	#internship-block{
		padding: 40px;
	}

	#post-fi{
		margin-top: 40px;
	}
}

@media (max-width: 1024px)
{
	.title{
		margin-bottom: 35px;

		&.big{
			font-size: 60px;
		}

		&.medium{
			font-size: 50px;
		}

		&.small{
			font-size: 35px;
		}

		&.smaller{
			font-size: 18px;
			margin-bottom: 20px;
		}

		&.tiny{
			margin-bottom: 15px;
		}

		&.small-under{
			margin-bottom: 10px;
		}
	}

	.product-diamonds{
		width: 330px;
		height: 330px;

		.product-diamond{
			width: 135px;
			height: 135px;

			.inner{
				padding: 10px;

				svg{
					height: 45px;
				}

				span{
					font-size: 8px;
				}
			}
		}
	}

	#home-products{
		margin-bottom: 120px;

		#home-products-content{
			width: calc(100% - 300px);
			padding-right: 40px;
		}
	}

	#home-custom{
		padding-top: 220px;

		.teaser-image-block{

			.teaser-image-content{
				padding: 40px;
			}
		}
	}

	.blog-articles{

		.col-12:nth-child(3){
			display: none;
		}
	}

	.landing-form{
		padding: 40px;
		margin-top: -120px;
	}

	.bg-video{
		background-image: inherit;

		.ytplayer-container,
		.ytplayer-shield{
			display: none;
		}
	}
}

@media (max-width: 1023px)
{
	#home-products{

		.d-flex{
			display: block !important;
		}

		#home-products-content{
			width: 100%;
			padding-right: 0;
		}

		#home-products-diamonds{
			display: block;
			margin-top: 150px;
		}
	}

	.product-diamonds{
		margin: 0 auto;
	}

	.inner-page{

		#header{

			&.active{

				.mobile-menu-trigger{

					svg{

						path{
							fill: $white !important;
						}
					}
				}
			}

			.mobile-menu-trigger{

				svg{

					path{
						fill: $blue !important;
					}
				}
			}
		}
	}

	#header{
		padding: 0 25px;

		.mobile-menu-trigger{
			display: block;
		}

		#site-nav{
			display: none;
		}

		#header-tel{
			top: 10px;
			right: 25px;
			font-size: 16px;
		}
	}

	#home-products{
		margin-top: 60px;
	}

	#home-custom{
		padding-top: 120px;
	}

	.teaser-image-block{


		.teaser-image-img{

			&:before{
				content: '';
				display: block;
				padding-top: 66%;
			}
		}
	}

	.title{
		margin-bottom: 25px;

		&.big{
			font-size: 40px;
		}

		&.medium{
			font-size: 35px;
		}

		&.small{
			font-size: 30px;
		}

		&.smaller{
			font-size: 18px;
			margin-bottom: 15px;
		}

		&.tiny{
			margin-bottom: 10px;
		}
	}

	.two-by-two-content-blocks{

		.content-block{
			padding: 25px
		}
	}

	#page{
		display: block;

		&.with-sidebar{

			#sidebar{
				position: absolute;
				top: 160px;
				right: 0;
				transform: translateX(375px);
				transition: all $transition;

				&.active{
					transform: translateX(0);
					max-width: calc(100% - 50px);
				}

				.sidebar-trigger{
					display: flex;
				}
			}

			#page-inner{
				padding: 25px;
				width: 100%;
			}
		}
	}

	.buttons{

		.btn{
			width: 100%;
			margin: 0 0 10px 0;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	#about-history{

		.inner{
			padding-left: 0;
		}
	}

	.career-benefits{
		margin: 40px auto;

		.career-benefits-row{
			left: auto !important;
			top: auto !important;

			.career-benefit{
				transform: none;
				margin: 7px;

				.inner{
					transform: none;
				}
			}
		}
	}

	.product-diamonds{
		transform: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;

		.product-diamond{
			float: none;
			flex-basis: auto !important;

			.inner{
				transform: none;
			}
		}
	}

	.image-banner{
		height: auto;
		padding: 60px 0;
	}

	.landing-form{
		margin-top: 40px;
	}

	.toggles-nav{
		position: static !important;
	}
}

@media (max-width: 767px)
{
	.covid {
		margin-top: 90px;
	}
	.two-by-two-content-blocks{

		.content-block{

			&.img{
				position: relative;

				&:before{
					content: '';
					display: block;
					padding-top: 66%;
				}
			}
		}
	}

	#home-banner,
	#careers-banner{
		padding-bottom: 0;
	}

	#header{
		height: 120px;

		#site-logo{
			width: 120px;

			.white-logo{
				display: block !important;
			}

			.blue-logo{
				display: none !important;
			}
		}

		#header-tel{
			color: $white !important;
		}
	}

	.inner-page{

		#header{

			.mobile-menu-trigger{

				svg{

					path{
						fill: $white !important;
					}
				}
			}
		}
	}

	#main{
		//padding-top: 120px;
		padding-top: 150px;
	}

	.product-diamonds{
		display: block;
		text-align: center;

		.product-diamond{
			display: inline-block;

			.inner{
				@include v-align();
			}
		}
	}

	#home-products{
		margin-bottom: 60px;

		#home-products-diamonds{
			margin-top: 40px;
		}
	}

	#home-custom{
		padding-top: 140px;

		.teaser-image-block{

			.teaser-image-content{
				padding: 25px;
			}
		}
	}

	.btn{
		padding: 15px;
	}

	#header{
		height: 90px;
		background: $blue;
	}

	#main{
		padding-top: 90px;
	}

	#footer{
		padding: 60px 0 20px 0;

		.footer-col{
			margin-bottom: 40px;
		}
	}

	#breadcrumbs{
		margin-bottom: 25px;
	}

	.toggles-nav{
		display: block;
		margin: 0;

		.btn{
			display: block;
			width: 100%;
			margin: 0 0 10px 0;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.title{

		&.big{
			font-size: 32px;
		}

		&.medium{
			font-size: 28px;
		}

		&.small{
			font-size: 24px;
		}
	}

	.toggle-content-rows{

		.toggle-content-row{
			margin-bottom: 40px;

			&.odd {

				.content {
					padding-right: 15px;
				}
			}

			&.even{

				.content{
					padding-left: 15px;
				}
			}

			.content{
				padding-bottom: 25px;
				order: 1 !important;
			}

			.img{
				order: 2 !important;
			}
		}
	}

	#about-history{

		.inner{
			padding-top: 25px;
		}
	}

	.career-benefits{

		.career-benefits-row{
			display: block !important;
			//text-align: center;

			.career-benefit{

			}
		}
	}

	.diamond-list {

		.diamond-list-item {
			display: block;

			.number{
				margin: 0 auto 35px auto;
			}

			.content{
				width: 100%;
				padding: 0;
			}
		}
	}

	.the-content{

		h2{
			font-size: 28px;
		}

		h3{
			font-size: 24px;
		}
	}

	.icon-content{
		display: block;

		.icon{
			margin: 45px auto;
		}

		.content{
			width: 100%;
			padding-left: 0;
		}
	}
}

@media (max-width: 767px){
	.covid {
		.wrapper{
			width:75%;
		}
		.close-modal{
			right:-1.5em;
			top:-.5em;
		}
	}
}
