@media (max-width: 1600px) {
  #page.with-sidebar #page-inner {
    padding: 60px;
  }

  .landing-form {
    padding: 60px;
  }
}
@media (max-width: 1200px) {
  #home-products {
    margin: 120px 0 500px 0;
  }

  #home-custom .teaser-image-block .teaser-image-content {
    padding: 60px;
  }

  #home-blog {
    padding: 60px 0;
  }

  #footer {
    padding: 60px 0;
  }

  .two-by-two-content-blocks .content-block {
    padding: 60px;
  }

  #header #site-nav > ul > li {
    font-size: 14px;
    margin-right: 25px;
  }

  #megamenu {
    padding: 40px 0;
  }

  #page.with-sidebar #page-inner {
    padding: 40px;
  }
  #page .sidebar-widget {
    padding: 25px;
  }
  #page .sidebar-widget .nav-links > ul {
    padding-bottom: 25px;
  }

  .slice {
    padding: 60px 0;
  }

  .toggle-content-rows .toggle-content-row {
    margin-bottom: 60px;
  }
  .toggle-content-rows .toggle-content-row.odd .content {
    padding-right: 40px;
  }
  .toggle-content-rows .toggle-content-row.even .content {
    padding-left: 40px;
  }

  #about-main-img {
    padding: 60px 0;
  }

  #about-history {
    padding-bottom: 60px;
  }
  #about-history .inner {
    padding-left: 40px;
  }

  .two-by-two-content-blocks .content-block {
    padding: 40px;
  }

  #available-positions,
#forty-reasons,
#internship-block {
    padding: 40px;
  }

  #post-fi {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .title {
    margin-bottom: 35px;
  }
  .title.big {
    font-size: 60px;
  }
  .title.medium {
    font-size: 50px;
  }
  .title.small {
    font-size: 35px;
  }
  .title.smaller {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .title.tiny {
    margin-bottom: 15px;
  }
  .title.small-under {
    margin-bottom: 10px;
  }

  .product-diamonds {
    width: 330px;
    height: 330px;
  }
  .product-diamonds .product-diamond {
    width: 135px;
    height: 135px;
  }
  .product-diamonds .product-diamond .inner {
    padding: 10px;
  }
  .product-diamonds .product-diamond .inner svg {
    height: 45px;
  }
  .product-diamonds .product-diamond .inner span {
    font-size: 8px;
  }

  #home-products {
    margin-bottom: 120px;
  }
  #home-products #home-products-content {
    width: calc(100% - 300px);
    padding-right: 40px;
  }

  #home-custom {
    padding-top: 220px;
  }
  #home-custom .teaser-image-block .teaser-image-content {
    padding: 40px;
  }

  .blog-articles .col-12:nth-child(3) {
    display: none;
  }

  .landing-form {
    padding: 40px;
    margin-top: -120px;
  }

  .bg-video {
    background-image: inherit;
  }
  .bg-video .ytplayer-container,
.bg-video .ytplayer-shield {
    display: none;
  }
}
@media (max-width: 1023px) {
  #home-products .d-flex {
    display: block !important;
  }
  #home-products #home-products-content {
    width: 100%;
    padding-right: 0;
  }
  #home-products #home-products-diamonds {
    display: block;
    margin-top: 150px;
  }

  .product-diamonds {
    margin: 0 auto;
  }

  .inner-page #header.active .mobile-menu-trigger svg path {
    fill: white !important;
  }
  .inner-page #header .mobile-menu-trigger svg path {
    fill: #1f4598 !important;
  }

  #header {
    padding: 0 25px;
  }
  #header .mobile-menu-trigger {
    display: block;
  }
  #header #site-nav {
    display: none;
  }
  #header #header-tel {
    top: 10px;
    right: 25px;
    font-size: 16px;
  }

  #home-products {
    margin-top: 60px;
  }

  #home-custom {
    padding-top: 120px;
  }

  .teaser-image-block .teaser-image-img:before {
    content: "";
    display: block;
    padding-top: 66%;
  }

  .title {
    margin-bottom: 25px;
  }
  .title.big {
    font-size: 40px;
  }
  .title.medium {
    font-size: 35px;
  }
  .title.small {
    font-size: 30px;
  }
  .title.smaller {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .title.tiny {
    margin-bottom: 10px;
  }

  .two-by-two-content-blocks .content-block {
    padding: 25px;
  }

  #page {
    display: block;
  }
  #page.with-sidebar #sidebar {
    position: absolute;
    top: 160px;
    right: 0;
    transform: translateX(375px);
    transition: all 250ms ease-in-out;
  }
  #page.with-sidebar #sidebar.active {
    transform: translateX(0);
    max-width: calc(100% - 50px);
  }
  #page.with-sidebar #sidebar .sidebar-trigger {
    display: flex;
  }
  #page.with-sidebar #page-inner {
    padding: 25px;
    width: 100%;
  }

  .buttons .btn {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .buttons .btn:last-child {
    margin-bottom: 0;
  }

  #about-history .inner {
    padding-left: 0;
  }

  .career-benefits {
    margin: 40px auto;
  }
  .career-benefits .career-benefits-row {
    left: auto !important;
    top: auto !important;
  }
  .career-benefits .career-benefits-row .career-benefit {
    transform: none;
    margin: 7px;
  }
  .career-benefits .career-benefits-row .career-benefit .inner {
    transform: none;
  }

  .product-diamonds {
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .product-diamonds .product-diamond {
    float: none;
    flex-basis: auto !important;
  }
  .product-diamonds .product-diamond .inner {
    transform: none;
  }

  .image-banner {
    height: auto;
    padding: 60px 0;
  }

  .landing-form {
    margin-top: 40px;
  }

  .toggles-nav {
    position: static !important;
  }
}
@media (max-width: 767px) {
  .covid {
    margin-top: 90px;
  }

  .two-by-two-content-blocks .content-block.img {
    position: relative;
  }
  .two-by-two-content-blocks .content-block.img:before {
    content: "";
    display: block;
    padding-top: 66%;
  }

  #home-banner,
#careers-banner {
    padding-bottom: 0;
  }

  #header {
    height: 120px;
  }
  #header #site-logo {
    width: 120px;
  }
  #header #site-logo .white-logo {
    display: block !important;
  }
  #header #site-logo .blue-logo {
    display: none !important;
  }
  #header #header-tel {
    color: white !important;
  }

  .inner-page #header .mobile-menu-trigger svg path {
    fill: white !important;
  }

  #main {
    padding-top: 150px;
  }

  .product-diamonds {
    display: block;
    text-align: center;
  }
  .product-diamonds .product-diamond {
    display: inline-block;
  }
  .product-diamonds .product-diamond .inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #home-products {
    margin-bottom: 60px;
  }
  #home-products #home-products-diamonds {
    margin-top: 40px;
  }

  #home-custom {
    padding-top: 140px;
  }
  #home-custom .teaser-image-block .teaser-image-content {
    padding: 25px;
  }

  .btn {
    padding: 15px;
  }

  #header {
    height: 90px;
    background: #1f4598;
  }

  #main {
    padding-top: 90px;
  }

  #footer {
    padding: 60px 0 20px 0;
  }
  #footer .footer-col {
    margin-bottom: 40px;
  }

  #breadcrumbs {
    margin-bottom: 25px;
  }

  .toggles-nav {
    display: block;
    margin: 0;
  }
  .toggles-nav .btn {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .toggles-nav .btn:last-child {
    margin-bottom: 0;
  }

  .title.big {
    font-size: 32px;
  }
  .title.medium {
    font-size: 28px;
  }
  .title.small {
    font-size: 24px;
  }

  .toggle-content-rows .toggle-content-row {
    margin-bottom: 40px;
  }
  .toggle-content-rows .toggle-content-row.odd .content {
    padding-right: 15px;
  }
  .toggle-content-rows .toggle-content-row.even .content {
    padding-left: 15px;
  }
  .toggle-content-rows .toggle-content-row .content {
    padding-bottom: 25px;
    order: 1 !important;
  }
  .toggle-content-rows .toggle-content-row .img {
    order: 2 !important;
  }

  #about-history .inner {
    padding-top: 25px;
  }

  .career-benefits .career-benefits-row {
    display: block !important;
  }
  .diamond-list .diamond-list-item {
    display: block;
  }
  .diamond-list .diamond-list-item .number {
    margin: 0 auto 35px auto;
  }
  .diamond-list .diamond-list-item .content {
    width: 100%;
    padding: 0;
  }

  .the-content h2 {
    font-size: 28px;
  }
  .the-content h3 {
    font-size: 24px;
  }

  .icon-content {
    display: block;
  }
  .icon-content .icon {
    margin: 45px auto;
  }
  .icon-content .content {
    width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .covid .wrapper {
    width: 75%;
  }
  .covid .close-modal {
    right: -1.5em;
    top: -0.5em;
  }
}

/*# sourceMappingURL=responsive.css.map */
