@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-content ul:not(.gform_fields), .gform_wrapper .gform_description ul:not(.gform_fields) {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}
.the-content ul:not(.gform_fields) li, .gform_wrapper .gform_description ul:not(.gform_fields) li {
  padding-left: 1.5em;
  margin-bottom: 5px;
  list-style: none;
  position: relative;
}
.the-content ul:not(.gform_fields) li:before, .gform_wrapper .gform_description ul:not(.gform_fields) li:before {
  content: "•";
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
}
.the-content ul:not(.gform_fields) li ul li:before, .gform_wrapper .gform_description ul:not(.gform_fields) li ul li:before {
  content: "○";
  font-size: 16px;
}
.the-content ol, .gform_wrapper .gform_description ol {
  padding: 0;
  margin: 0 0 20px;
  counter-reset: top-level-ol-counter;
  list-style: none;
}
.the-content ol > li, .gform_wrapper .gform_description ol > li {
  padding-left: 1.5em;
  margin-bottom: 5px;
  list-style: none;
  counter-increment: top-level-ol-counter;
  position: relative;
}
.the-content ol > li:before, .gform_wrapper .gform_description ol > li:before {
  content: counter(top-level-ol-counter);
  position: absolute;
  top: 0;
  left: 0;
}
.the-content ol > li ol, .gform_wrapper .gform_description ol > li ol {
  padding-top: 10px;
  padding-bottom: 0;
  counter-reset: child-level-ol-counter;
}
.the-content ol > li li, .gform_wrapper .gform_description ol > li li {
  padding-left: 1.5em;
  position: relative;
  counter-increment: child-level-ol-counter;
}
.the-content ol > li li:before, .gform_wrapper .gform_description ol > li li:before {
  content: counter(child-level-ol-counter, lower-roman);
}
.the-content .gallery, .gform_wrapper .gform_description .gallery {
  padding: 40px 0;
}

.gfield.gform_validation_container {
  display: none;
}
.gfield.gfield_error input,
.gfield.gfield_error textarea {
  color: darkred;
}
.gfield input,
.gfield textarea {
  border: 0;
}

.gform_confirmation_message {
  color: darkgreen;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.alignright {
  float: right;
}

.aligncenter {
  margin: 0 auto;
  display: block;
}

.alignleft {
  float: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold, strong, b {
  font-weight: bold;
}

.undo-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

.undo-li {
  margin-bottom: 0;
  list-style: none;
  list-style-type: none;
}

.undo-p {
  margin: 0;
}

/*a {
	outline: 0;
	text-decoration: none;
}

a:visited {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

a:active {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}*/
a {
  text-decoration: none;
}

/*a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}*/
img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

.clearfix:after, .product-diamonds:after, .cf:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.flat-left {
  padding-left: 0;
}

.flat-right {
  padding-right: 0;
}

.flat-both {
  padding-left: 0;
  padding-right: 0;
}

.flat-top {
  padding-top: 0;
}

.flat-bottom {
  padding-bottom: 0;
}

.flat-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.flat-all {
  padding: 0;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.float-none {
  float: none !important;
}

.mfp-arrow::after,
.mfp-arrow::before {
  display: none !important;
}

.mfp-arrow-right {
  background: url("../fw/core/assets/images/chevron-right.svg") no-repeat center center !important;
  background-size: 30px 30px !important;
}

.mfp-arrow-left {
  background: url("../fw/core/assets/images/chevron-left.svg") no-repeat center center !important;
  background-size: 30px 30px !important;
}

.r {
  display: flex;
  flex-wrap: wrap;
}

.gallery-columns-1 dl {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-2 dl {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-3 dl {
  width: 33.3333333333%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-4 dl {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-5 dl {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-6 dl {
  width: 16.6666666667%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-7 dl {
  width: 14.2857142857%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-8 dl {
  width: 12.5%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.gallery-columns-9 dl {
  width: 11.1111111111%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/*
 * thin : 200
 * light : 300
 * regular : 400
 * medium : 500
 * bold : 700
 * extra bold : 800
 * black : 900
 */
.wow {
  visibility: hidden;
}

body, html {
  position: relative;
  font: 16px/1.51em frank-new, sans-serif;
  overflow-x: hidden;
}

.the-content ol, .gform_wrapper .gform_description ol {
  padding-top: 30px;
  padding-left: 30px;
}
.the-content ol li, .gform_wrapper .gform_description ol li {
  margin-bottom: 30px;
}

.medium-grey {
  color: #8a8f9b;
}

.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.wrapper.medium {
  max-width: 1420px;
}
.wrapper.large {
  max-width: 1670px;
}
.wrapper.small, .gform_wrapper .wrapper.gform_title {
  max-width: 930px;
}

.home:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: #1f4598;
}

.inner-page #header #site-logo .blue-logo {
  display: block;
}
.inner-page #header #site-logo .white-logo {
  display: none;
}
.inner-page #header #site-nav > ul > li.current-menu-item a {
  color: #1f4598;
}
.inner-page #header #site-nav > ul > li a {
  color: #bfc2c8;
}
.inner-page #header #header-tel {
  color: #1f4598;
}

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn, .stock-btn, .gform_wrapper .gform_footer .gform_button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font: 900 10px/1em objektiv-mk1, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
  background: #1f4598;
  color: white !important;
  border: 0;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;
}
.btn:hover, .stock-btn:hover, .gform_wrapper .gform_footer .gform_button:hover {
  background: #10192e;
}
.btn.white, .white.stock-btn, .gform_wrapper .gform_footer .white.gform_button {
  background: white;
  color: #697286 !important;
}
.btn.white:hover, .white.stock-btn:hover, .gform_wrapper .gform_footer .white.gform_button:hover {
  background: #10192e;
  color: white !important;
}
.btn.full, .full.stock-btn, .gform_wrapper .gform_footer .full.gform_button {
  width: 100%;
}
.btn.grey, .grey.stock-btn, .gform_wrapper .gform_footer .grey.gform_button {
  background: #f2f4f8;
  color: #697286 !important;
}
.btn.grey:hover, .grey.stock-btn:hover, .gform_wrapper .gform_footer .grey.gform_button:hover {
  background: #8a8f9b;
  color: white !important;
}
.btn.med-grey, .stock-btn, .gform_wrapper .gform_footer .med-grey.gform_button, .gform_wrapper .gform_footer .gform_button.stock-btn {
  background: #dfe2e7;
  color: #697286 !important;
}
.btn.med-grey:hover, .stock-btn:hover, .gform_wrapper .gform_footer .med-grey.gform_button:hover, .gform_wrapper .gform_footer .gform_button.stock-btn:hover {
  background: #dfe2e7;
  color: #697286 !important;
}

.buttons .btn, .buttons .stock-btn, .buttons .gform_wrapper .gform_footer .gform_button, .gform_wrapper .gform_footer .buttons .gform_button {
  margin-right: 20px;
}
.buttons .btn:last-child, .buttons .stock-btn:last-child, .buttons .gform_wrapper .gform_footer .gform_button:last-child, .gform_wrapper .gform_footer .buttons .gform_button:last-child {
  margin-right: 0;
}

.title, .gform_wrapper .gform_title {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.title.big, .gform_wrapper .big.gform_title {
  font: 900 95px/1.3em objektiv-mk1, sans-serif;
}
.title.medium, .gform_wrapper .medium.gform_title {
  font: 900 62px/1.3em objektiv-mk1, sans-serif;
}
.title.small, .gform_wrapper .gform_title {
  font: 900 42px/1.3em objektiv-mk1, sans-serif;
}
.title.smaller, .gform_wrapper .smaller.gform_title {
  font: 900 20px/1.3em objektiv-mk1, sans-serif;
  margin-bottom: 25px;
}
.title.tiny, .gform_wrapper .tiny.gform_title {
  font: 900 10px/1.3em objektiv-mk1, sans-serif;
  margin-bottom: 30px;
}
.title.dark-grey, .gform_wrapper .gform_title {
  color: #697286;
}
.title.medium-grey, .gform_wrapper .medium-grey.gform_title {
  color: #8a8f9b;
}
.title.white, .gform_wrapper .white.gform_title {
  color: white;
}
.title.blue, .gform_wrapper .blue.gform_title {
  color: #1f4598;
}
.title.small-under, .gform_wrapper .small-under.gform_title {
  margin-bottom: 10px;
}

.the-content *:last-child, .gform_wrapper .gform_description *:last-child {
  margin-bottom: 0;
}
.the-content p, .gform_wrapper .gform_description p {
  margin-bottom: 30px;
}
.the-content h1, .gform_wrapper .gform_description h1, .the-content h2, .gform_wrapper .gform_description h2, .the-content h3, .gform_wrapper .gform_description h3, .the-content h4, .gform_wrapper .gform_description h4, .the-content h5, .gform_wrapper .gform_description h5, .the-content h6, .gform_wrapper .gform_description h6 {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.the-content h1, .gform_wrapper .gform_description h1 {
  font: 900 95px/1.3em objektiv-mk1, sans-serif;
}
.the-content h2, .gform_wrapper .gform_description h2 {
  font: 900 62px/1.3em objektiv-mk1, sans-serif;
}
.the-content h3, .gform_wrapper .gform_description h3 {
  font: 900 42px/1.3em objektiv-mk1, sans-serif;
}
.the-content h4, .gform_wrapper .gform_description h4 {
  font: 900 20px/1.3em objektiv-mk1, sans-serif;
}
.the-content h5, .gform_wrapper .gform_description h5 {
  font: 900 18px/1.3em objektiv-mk1, sans-serif;
}
.the-content h6, .gform_wrapper .gform_description h6 {
  font: 900 10px/1.3em objektiv-mk1, sans-serif;
}
.the-content a, .gform_wrapper .gform_description a {
  color: #1f4598;
  transition: all 250ms ease-in-out;
  font-weight: bold;
}
.the-content a:hover, .gform_wrapper .gform_description a:hover {
  color: #697286;
}
.the-content .btn-box, .gform_wrapper .gform_description .btn-box {
  display: inline-block;
  margin-bottom: 30px;
}

#mobile-menu {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  padding: 25px;
}
#mobile-menu.active {
  display: block;
}
#mobile-menu .mobile-menu-trigger {
  position: absolute;
  top: 25px;
  right: 25px;
  font: 900 40px/1em objektiv-mk1, sans-serif;
  color: #1f4598;
  transition: all 250ms ease-in-out;
}
#mobile-menu .mobile-menu-trigger:hover {
  color: #697286;
}
#mobile-menu > ul {
  overflow-y: scroll;
}
#mobile-menu > ul > li {
  font: 900 22px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#mobile-menu > ul > li > a {
  color: #1f4598;
  transition: all 250ms ease-in-out;
}
#mobile-menu > ul > li > a:hover {
  color: #697286;
}
#mobile-menu > ul > li > ul {
  padding: 10px 0 0 10px;
}
#mobile-menu > ul > li > ul > li {
  font: 700 18px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#mobile-menu > ul > li > ul > li > a {
  color: #1f4598;
  transition: all 250ms ease-in-out;
}
#mobile-menu > ul > li > ul > li > a:hover {
  color: #697286;
}

#header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 45px;
  height: 160px;
  transition: 250ms ease-in-out;
}
#header .mobile-menu-trigger {
  display: none;
  width: 30px;
  height: 30px;
}
#header .mobile-menu-trigger svg {
  width: 100%;
}
#header.active {
  height: 90px;
  background: #1f4598;
}
#header.active #site-logo {
  width: 120px;
}
#header.active #site-logo .blue-logo {
  display: none;
}
#header.active #site-logo .white-logo {
  display: block;
}
#header.active #site-nav > ul > li.current-menu-item a {
  color: #10192e;
}
#header.active #site-nav > ul > li a {
  color: white;
}
#header.active #site-nav > ul > li a:hover {
  color: #10192e;
}
#header.active #header-tel {
  color: white;
}
#header #site-logo {
  width: 150px;
  transition: 250ms ease-in-out;
}
#header #site-logo .blue-logo {
  display: none;
}
#header #site-nav {
  padding-left: 25px;
}
#header #site-nav > ul {
  display: flex;
}
#header #site-nav > ul > li {
  font: 700 16px/1em frank-new, sans-serif;
  margin-right: 50px;
}
#header #site-nav > ul > li:last-child {
  margin-right: 0;
}
#header #site-nav > ul > li.current-menu-item a {
  color: #10192e;
}
#header #site-nav > ul > li a {
  color: white;
  transition: 250ms ease-in-out;
}
#header #site-nav > ul > li a:hover {
  color: #697286;
}
#header #header-tel {
  position: absolute;
  top: 10px;
  right: 45px;
  font: 700 18px/1em frank-new, sans-serif;
  color: white;
  transition: all 250ms ease-in-out;
}
#header #header-tel:hover {
  color: #10192e;
}

#main {
  position: relative;
  z-index: 1;
  padding-top: 160px;
}

#footer {
  padding: 130px 0;
}
#footer #footer-logo {
  width: 105px;
}
#footer .footer-col {
  font: 800 14px/1.65em frank-new, sans-serif;
  color: #bfc2c8;
}
#footer .footer-col .footer-col-title {
  font: 500 24px/1em frank-new, sans-serif;
  color: #bfc2c8;
  margin-bottom: 35px;
}
#footer .footer-col a {
  color: #bfc2c8;
  transition: all 250ms ease-in-out;
}
#footer .footer-col a:hover {
  color: #1f4598;
}

.social-icons {
  display: inline-flex;
  align-items: center;
}
.social-icons li {
  margin-right: 15px;
}
.social-icons li:last-child {
  margin-right: 0;
}
.social-icons li.facebook-icon svg {
  width: 9px;
  height: 20px;
}
.social-icons li.linkedin-icon svg {
  width: 17px;
  height: 16px;
}
.social-icons li.youtube-icon svg {
  width: 20px;
  height: 14px;
}
.social-icons li.instagram-icon svg {
  width: 20px;
  height: 20px;
}
.social-icons li.twitter-icon svg {
  width: 20px;
  height: 20px;
}
.social-icons li:hover path {
  fill: #1f4598;
}
.social-icons li path {
  fill: #bfc2c8;
  transition: 250ms ease-in-out;
}
.social-icons li a {
  display: block;
}

#home-banner,
#careers-banner {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 120px;
  min-height: 85vh;
  overflow: hidden;
}
#home-banner .overlay,
#careers-banner .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1f4598;
  z-index: 1;
  overlay: 0.65;
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home-banner .wrapper,
#careers-banner .wrapper {
  z-index: 3;
}
#home-banner video,
#careers-banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  overflow: hidden;
}
#home-banner .content .title, #home-banner .content .gform_wrapper .gform_title, .gform_wrapper #home-banner .content .gform_title,
#careers-banner .content .title,
#careers-banner .content .gform_wrapper .gform_title,
.gform_wrapper #careers-banner .content .gform_title {
  color: white;
}
#home-banner .content .the-content, #home-banner .content .gform_wrapper .gform_description, .gform_wrapper #home-banner .content .gform_description,
#careers-banner .content .the-content,
#careers-banner .content .gform_wrapper .gform_description,
.gform_wrapper #careers-banner .content .gform_description {
  color: #a3b7e6;
  margin-bottom: 30px;
}

#home-products {
  margin: 240px 0 300px 0;
  color: #697286;
}
#home-products #home-products-content {
  width: calc(100% - 370px);
  padding-right: 100px;
}
#home-products #home-products-diamonds {
  display: flex;
  justify-content: flex-end;
}

#home-partners {
  padding-bottom: 600px;
}

.partners-slider {
  margin: 40px;
  overflow: hidden;
}
.partners-slider .partner-block-parent {
  display: block;
  float: left;
  width: 200px;
  margin: 0 20px;
}
.partners-slider .partner-block {
  display: block;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.partners-slider .partner-block:before {
  content: "";
  display: block;
  padding-top: 60%;
}
.partners-slider .the-content, .partners-slider .gform_wrapper .gform_description, .gform_wrapper .partners-slider .gform_description {
  margin-top: 10px;
  font: 13px/1.65em frank-new, sans-serif;
  text-align: center;
  color: #8a8f9b;
}

#home-custom {
  background: #f2f4f8;
  padding-top: 340px;
}
#home-custom .teaser-image-block {
  margin-top: -680px;
}

.teaser-image-block .teaser-image-img {
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.teaser-image-block .teaser-image-img:hover:after {
  opacity: 0;
}
.teaser-image-block .teaser-image-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(16, 25, 46, 0.4);
  z-index: 1;
  transition: all 250ms ease-in-out;
}
.teaser-image-block .teaser-image-content {
  background: #1f4598;
  color: white;
  padding: 120px;
}
.teaser-image-block .teaser-image-content .the-content, .teaser-image-block .teaser-image-content .gform_wrapper .gform_description, .gform_wrapper .teaser-image-block .teaser-image-content .gform_description {
  color: #a3b7e6;
  margin-bottom: 40px;
}

.video-player {
  display: block;
  position: relative;
  max-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.video-player:hover:after {
  opacity: 0;
}
.video-player:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.video-player:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(16, 25, 46, 0.4);
  z-index: 1;
  transition: all 250ms ease-in-out;
}

#home-blog {
  background: #f2f4f8;
  padding: 130px 0;
}
#home-blog .title, #home-blog .gform_wrapper .gform_title, .gform_wrapper #home-blog .gform_title {
  color: #697286;
}

.blog-archive-block {
  margin-bottom: 30px;
}
.blog-archive-block .img {
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  transition: all 250ms ease-in-out;
}
.blog-archive-block .img:hover {
  opacity: 1;
}
.blog-archive-block .img:before {
  content: "";
  display: block;
  padding-top: 66%;
}
.blog-archive-block .content {
  padding: 25px 30px;
  background: white;
}
.blog-archive-block .content h4 {
  font: 700 16px/1.3em frank-new, sans-serif;
  margin-bottom: 20px;
}
.blog-archive-block .content h4 a {
  color: #8a8f9b;
  transition: all 250ms ease-in-out;
}
.blog-archive-block .content h4 a:hover {
  color: #1f4598;
}
.blog-archive-block .content time {
  display: block;
  font: 900 10px/1em objektiv-mk1, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #697286;
  margin-bottom: 25px;
}
.blog-archive-block .content .the-content, .blog-archive-block .content .gform_wrapper .gform_description, .gform_wrapper .blog-archive-block .content .gform_description {
  font-size: 14px;
  margin-bottom: 15px;
}
.blog-archive-block .content .category-links {
  margin-bottom: 30px;
}
.blog-archive-block .content .category-links a {
  font: 900 10px/1em objektiv-mk1, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1f4598;
  transition: all 250ms ease-in-out;
}
.blog-archive-block .content .category-links a:hover {
  color: #10192e;
}

.product-diamonds {
  transform: rotate(45deg);
  width: 370px;
  height: 370px;
}
.product-diamonds .product-diamond {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin: 7px;
  transition: all 250ms ease-in-out;
}
.product-diamonds .product-diamond:nth-child(2n) {
  flex-basis: 100%;
}
.product-diamonds .product-diamond:hover {
  background: #1f4598 !important;
}
.product-diamonds .product-diamond:hover .inner svg path {
  fill: white;
}
.product-diamonds .product-diamond:hover .inner span {
  color: white;
}
.product-diamonds .product-diamond.diamond-1 {
  background: #f2f4f8;
}
.product-diamonds .product-diamond.diamond-2 {
  background: #bfc2c8;
}
.product-diamonds .product-diamond.diamond-3 {
  background: #8a8f9b;
}
.product-diamonds .product-diamond.diamond-4 {
  background: #697286;
}
.product-diamonds .product-diamond.diamond-3 .inner svg path, .product-diamonds .product-diamond.diamond-4 .inner svg path {
  fill: white;
}
.product-diamonds .product-diamond.diamond-3 .inner span, .product-diamonds .product-diamond.diamond-4 .inner span {
  color: white;
}
.product-diamonds .product-diamond .inner {
  text-align: center;
  transform: rotate(-45deg);
}
.product-diamonds .product-diamond .inner svg {
  display: block;
  margin: 0 auto 10px auto;
  width: auto;
  height: 60px;
}
.product-diamonds .product-diamond .inner svg path {
  fill: #697286;
  transition: all 250ms ease-in-out;
}
.product-diamonds .product-diamond .inner span {
  display: block;
  font: 900 10px/1em objektiv-mk1, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #697286;
  transition: all 250ms ease-in-out;
}

#about-main-img {
  position: relative;
  padding: 120px 0;
}
#about-main-img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  bottom: 0;
  background: #f2f4f8;
}

#about-history {
  background: #f2f4f8;
  padding-bottom: 120px;
}
#about-history .inner {
  padding-left: 110px;
}
#about-history .the-content, #about-history .gform_wrapper .gform_description, .gform_wrapper #about-history .gform_description {
  margin-bottom: 30px;
}

#page.with-sidebar {
  display: flex;
}
#page.with-sidebar #page-inner {
  position: relative;
  z-index: 1;
  width: calc(100% - 375px);
  padding: 120px 185px;
  background: #f2f4f8;
}
#page #sidebar {
  z-index: 2;
  width: 375px;
  background: #dfe2e7;
  color: #697286;
}
#page #sidebar.active .sidebar-trigger {
  transform: rotate(180deg);
}
#page #sidebar .sidebar-trigger {
  display: none;
  position: absolute;
  top: 0;
  left: -45px;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #1f4598;
}
#page #sidebar .sidebar-trigger svg {
  width: 30px;
  height: 30px;
}
#page .sidebar-widget {
  padding: 45px;
}
#page .sidebar-widget.dark-grey, #page .gform_wrapper .sidebar-widget.gform_title, .gform_wrapper #page .sidebar-widget.gform_title {
  background: #697286;
  color: white;
}
#page .sidebar-widget.dark-grey .btn, #page .sidebar-widget.dark-grey .stock-btn, #page .sidebar-widget.dark-grey .gform_wrapper .gform_footer .gform_button, .gform_wrapper .gform_footer #page .sidebar-widget.dark-grey .gform_button, #page .gform_wrapper .sidebar-widget.gform_title .btn, #page .gform_wrapper .sidebar-widget.gform_title .stock-btn, #page .gform_wrapper .sidebar-widget.gform_title .gform_footer .gform_button, #page .gform_wrapper .gform_footer .sidebar-widget.gform_title .gform_button, .gform_wrapper #page .sidebar-widget.gform_title .btn, .gform_wrapper #page .sidebar-widget.gform_title .stock-btn, .gform_wrapper #page .sidebar-widget.gform_title .gform_footer .gform_button, .gform_wrapper .gform_footer #page .sidebar-widget.gform_title .gform_button {
  color: #697286;
}
#page .sidebar-widget.dark-grey .btn:hover, #page .sidebar-widget.dark-grey .stock-btn:hover, #page .sidebar-widget.dark-grey .gform_wrapper .gform_footer .gform_button:hover, .gform_wrapper .gform_footer #page .sidebar-widget.dark-grey .gform_button:hover, #page .gform_wrapper .sidebar-widget.gform_title .btn:hover, #page .gform_wrapper .sidebar-widget.gform_title .stock-btn:hover, #page .gform_wrapper .sidebar-widget.gform_title .gform_footer .gform_button:hover, #page .gform_wrapper .gform_footer .sidebar-widget.gform_title .gform_button:hover, .gform_wrapper #page .sidebar-widget.gform_title .btn:hover, .gform_wrapper #page .sidebar-widget.gform_title .stock-btn:hover, .gform_wrapper #page .sidebar-widget.gform_title .gform_footer .gform_button:hover, .gform_wrapper .gform_footer #page .sidebar-widget.gform_title .gform_button:hover {
  color: white;
}
#page .sidebar-widget .widget-title {
  font: 900 24px/1.3em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#page .sidebar-widget .widget-content {
  margin-bottom: 30px;
}
#page .sidebar-widget .nav-links > ul {
  padding-bottom: 50px;
  border-bottom: 2px solid #d0d5dc;
}
#page .sidebar-widget .nav-links > ul > li {
  font: 700 14px/1em frank-new, sans-serif;
  margin-bottom: 30px;
}
#page .sidebar-widget .nav-links > ul > li.current-cat a {
  color: #1f4598;
}
#page .sidebar-widget .nav-links > ul > li > ul {
  padding: 15px 0 0 20px;
}
#page .sidebar-widget .nav-links > ul > li > ul > li {
  font: 700 12px/1em frank-new, sans-serif;
  margin-bottom: 15px;
}
#page .sidebar-widget .nav-links > ul > li > ul > li > a {
  color: #8a8f9b;
  transition: all 250ms ease-in-out;
}
#page .sidebar-widget .nav-links > ul > li > ul > li > a:hover {
  color: #1f4598;
}
#page .sidebar-widget .nav-links > ul > li a {
  color: #8a8f9b;
  transition: all 250ms ease-in-out;
}
#page .sidebar-widget .nav-links > ul > li a:hover {
  color: #1f4598;
}
#page .sidebar-widget .nav-links li.current-cat a {
  color: #1f4598 !important;
}

.infinite-scroll {
  padding-bottom: 30px;
}
.infinite-scroll.loading {
  background-image: url("../images/loader.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.infinite-scroll .infinite-finished-message {
  text-align: center;
  font: 900 18px/1em frank-new, sans-serif;
  color: #1f4598;
}

.slice {
  position: relative;
  z-index: 2;
  padding: 120px 0;
}
.slice.no-top {
  padding-top: 0;
}
.slice.no-bottom {
  padding-bottom: 0;
}
.slice.light-grey {
  background: #f2f4f8;
}
.slice.light-grey .the-content, .slice.light-grey .gform_wrapper .gform_description, .gform_wrapper .slice.light-grey .gform_description {
  color: #8a8f9b;
}
.slice.half-content .inner {
  max-width: 500px;
}
.slice .buttons {
  margin-top: 30px;
}

.single-post-categories {
  font: 900 20px/1em objektiv-mk1, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.single-post-categories a {
  color: #8a8f9b;
  transition: all 250ms ease-in-out;
}
.single-post-categories a:hover {
  color: #1f4598;
}
.single-post-categories time {
  display: block;
  font: normal 14px/1em frank-new, sans-serif;
  color: #8a8f9b;
}

#post-fi {
  margin: 120px 0 0 0;
}

#post-content {
  color: #8a8f9b;
}

.facebook-share {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.facebook-share:hover svg path {
  fill: #697286;
}
.facebook-share:hover span {
  color: #697286;
}
.facebook-share svg {
  width: 9px;
  height: 20px;
  margin-right: 10px;
}
.facebook-share svg path {
  fill: #1f4598;
  transition: all 250ms ease-in-out;
}
.facebook-share span {
  font: 900 10px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1f4598;
  transition: all 250ms ease-in-out;
}

.two-by-two-content-blocks .content-block {
  display: flex;
  padding: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.two-by-two-content-blocks .content-block.no-top {
  padding-top: 30px;
}
.two-by-two-content-blocks .content-block.left {
  justify-content: flex-end;
}
.two-by-two-content-blocks .content-block.right {
  justify-content: flex-start;
}
.two-by-two-content-blocks .content-block.light-grey, .two-by-two-content-blocks .content-block.grey {
  background: #f2f4f8;
}
.two-by-two-content-blocks .content-block .inner {
  width: 100%;
  max-width: 460px;
}
.two-by-two-content-blocks .content-block .buttons {
  margin-top: 30px;
}

.gform_wrapper .validation_error {
  background: #1f4598;
  padding: 25px;
  color: white;
  margin-bottom: 25px;
  font: 14px/1.65em frank-new, sans-serif;
}
.gform_wrapper .gform_description {
  display: block;
  margin-bottom: 30px;
}
.gform_wrapper .gform_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.gform_wrapper .gform_fields .gfield {
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
.gform_wrapper .gform_fields .gfield.hidden_label > label {
  display: none;
}
.gform_wrapper .gform_fields .gfield .validation_message {
  font: 12px/1em frank-new, sans-serif;
  margin: 10px 0;
  color: #10192e;
}
.gform_wrapper .gform_fields .gfield > label {
  display: block;
  margin-bottom: 5px;
  font: 900 10px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #697286;
}
.gform_wrapper .gform_fields .gfield .gfield_checkbox li,
.gform_wrapper .gform_fields .gfield .gfield_radio li {
  display: flex;
  margin-bottom: 5px;
}
.gform_wrapper .gform_fields .gfield .gfield_checkbox li input,
.gform_wrapper .gform_fields .gfield .gfield_radio li input {
  width: auto;
  height: auto;
  margin: 0 10px 0 0;
}
.gform_wrapper .gform_fields .gfield select {
  display: block;
  width: 100%;
  height: 45px;
}
.gform_wrapper .gform_fields .gfield input[type=text],
.gform_wrapper .gform_fields .gfield input[type=email],
.gform_wrapper .gform_fields .gfield input[type=tel] {
  width: 100%;
  height: 45px;
  padding: 20px;
  font: bold 12px/1em frank-new, sans-serif;
  color: #697286;
  background: #dfe2e7;
}
.gform_wrapper .gform_fields .gfield input[type=text]::-webkit-input-placeholder,
.gform_wrapper .gform_fields .gfield input[type=email]::-webkit-input-placeholder,
.gform_wrapper .gform_fields .gfield input[type=tel]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield input[type=text]::-moz-placeholder,
.gform_wrapper .gform_fields .gfield input[type=email]::-moz-placeholder,
.gform_wrapper .gform_fields .gfield input[type=tel]::-moz-placeholder {
  /* Firefox 19+ */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield input[type=text]:-ms-input-placeholder,
.gform_wrapper .gform_fields .gfield input[type=email]:-ms-input-placeholder,
.gform_wrapper .gform_fields .gfield input[type=tel]:-ms-input-placeholder {
  /* IE 10+ */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield input[type=text]:-moz-placeholder,
.gform_wrapper .gform_fields .gfield input[type=email]:-moz-placeholder,
.gform_wrapper .gform_fields .gfield input[type=tel]:-moz-placeholder {
  /* Firefox 18- */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield input[type=file] {
  display: block;
  width: 100%;
  background: #1f4598;
  color: white;
  padding: 20px;
}
.gform_wrapper .gform_fields .gfield textarea {
  width: 100%;
  height: 45px;
  padding: 20px;
  font: bold 12px/1em frank-new, sans-serif;
  color: #697286;
  background: #dfe2e7;
  height: 220px;
  resize: vertical;
}
.gform_wrapper .gform_fields .gfield textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_wrapper .gform_fields .gfield textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #697286;
  opacity: 1;
  text-transform: uppercase;
}
.gform_ajax_spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.gform_confirmation_message {
  background: #1f4598;
  padding: 25px;
  color: white;
  font: 14px/1.65em frank-new, sans-serif;
}
.gform_confirmation_message p {
  color: white;
}

.chosen-container {
  width: 100% !important;
}
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
  height: 45px;
  background: #1f4598;
  color: white;
  font: bold 12px/45px frank-new, sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  padding: 0 0 0 20px;
  box-shadow: none;
}
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single div b {
  position: absolute;
  top: 21px;
  right: 15px;
  width: 7px;
  height: 3px;
}
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single div b:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3.5px 0 3.5px;
  border-color: white transparent transparent transparent;
}
.chosen-container .chosen-single {
  height: 45px;
  background: #1f4598;
  color: white;
  font: bold 12px/45px frank-new, sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  padding: 0 0 0 20px;
  box-shadow: none;
}
.chosen-container .chosen-single div b {
  position: absolute;
  top: 21px;
  right: 15px;
  width: 7px;
  height: 3px;
}
.chosen-container .chosen-single div b:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3.5px 0 3.5px;
  border-color: white transparent transparent transparent;
}
.chosen-container .chosen-drop {
  border: 1px solid #bfc2c8;
  border-top: 0;
  border-radius: 0;
  box-shadow: none;
}
.chosen-container .chosen-results li {
  font: bold 12px/1.65em frank-new, sans-serif;
  color: #697286;
}
.chosen-container .chosen-results li.highlighted {
  background: #1f4598;
  color: white;
}

.contact-rows .contact-row {
  margin-bottom: 50px;
}
.contact-rows .contact-row:last-child {
  margin-bottom: 0;
}

.google-map {
  height: 440px;
}

.toggles-nav .wrapper {
  display: flex;
}
.toggles-nav.stick {
  position: fixed;
  top: 90px;
  width: 100%;
  background: white;
  padding: 15px 0;
}
.toggles-nav .btn, .toggles-nav .stock-btn, .toggles-nav .gform_wrapper .gform_footer .gform_button, .gform_wrapper .gform_footer .toggles-nav .gform_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 0 17px;
  /*&.active{
      background: $medium-grey;
      color: $white !important;
  }*/
}

.toggle {
  padding-bottom: 120px;
  margin-bottom: 120px;
  border-bottom: 2px solid #dfe2e7;
  /*display: none;

  &.active{
      display: block;
  }*/
}

.toggle-content-rows .toggle-content-row {
  margin-bottom: 120px;
}
.toggle-content-rows .toggle-content-row:last-child {
  margin-bottom: 0;
}
.toggle-content-rows .toggle-content-row.odd .content {
  padding-right: 110px;
}
.toggle-content-rows .toggle-content-row.even .content {
  order: 2;
  padding-left: 110px;
}
.toggle-content-rows .toggle-content-row.even .img {
  order: 1;
}
.toggle-content-rows .toggle-content-row .toggle-title,
.toggle-content-rows .toggle-content-row .toggle-subtitle {
  font: 900 20px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  color: #697286;
}
.toggle-content-rows .toggle-content-row .toggle-subtitle {
  margin-bottom: 30px;
}
.toggle-content-rows .toggle-content-row .the-content, .toggle-content-rows .toggle-content-row .gform_wrapper .gform_description, .gform_wrapper .toggle-content-rows .toggle-content-row .gform_description {
  font: 14px/1.65em frank-new, sans-serif;
  color: #8a8f9b;
}
.toggle-content-rows .toggle-content-row .buttons {
  margin-top: 25px;
}

.image-banner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 60vh;
  max-height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(105, 114, 134, 0.64);
  z-index: 1;
}
.image-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(31, 69, 152, 0.6);
  z-index: 1;
}
.image-banner .wrapper {
  z-index: 2;
}

.icon-content {
  display: flex;
}
.icon-content .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
}
.icon-content .icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  background: #f2f4f8;
  transform: rotate(-45deg);
}
.icon-content .icon img {
  width: 45px;
  height: 45px;
}
.icon-content .content {
  width: calc(100% - 125px);
  padding-left: 60px;
  color: #8a8f9b;
}

.landing-form {
  background: #f2f4f8;
  padding: 120px;
  margin-top: -240px;
}
.landing-form .gform_title {
  font-size: 24px;
}

.project-archive-block {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.project-archive-block:hover:after {
  opacity: 0;
}
.project-archive-block:before {
  content: "";
  display: block;
  padding-top: 65%;
}
.project-archive-block:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(45deg, #373b43 0%, rgba(55, 59, 67, 0.96) 4%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(45deg, #373b43 0%, rgba(55, 59, 67, 0.96) 4%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(45deg, #373b43 0%, rgba(55, 59, 67, 0.96) 4%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#373b43", endColorstr="#00ffffff", GradientType=1);
  transition: all 250ms ease-in-out;
}
.project-archive-block .content {
  position: absolute;
  z-index: 2;
  padding: 25px;
  color: white;
  font: bold 16px/1em frank-new, sans-serif;
}

.career-benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px 0 0 -140px;
}
.career-benefits .career-benefits-row {
  position: relative;
  display: flex;
  justify-content: center;
}
.career-benefits .career-benefits-row:nth-child(even) {
  left: 140px;
  top: -35px;
}
.career-benefits .career-benefits-row .career-benefit {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  background: #f2f4f8;
  transform: rotate(45deg);
  margin: 0 55px;
}
.career-benefits .career-benefits-row .career-benefit.bg-dark-grey {
  background: #697286;
}
.career-benefits .career-benefits-row .career-benefit.bg-light-grey {
  background: #dfe2e7;
}
.career-benefits .career-benefits-row .career-benefit.bg-blue {
  background: #1f4598;
}
.career-benefits .career-benefits-row .career-benefit.content-grey .inner svg path {
  fill: #8a8f9b;
}
.career-benefits .career-benefits-row .career-benefit.content-grey .inner h4 {
  color: #8a8f9b;
}
.career-benefits .career-benefits-row .career-benefit.content-white .inner svg path {
  fill: white;
}
.career-benefits .career-benefits-row .career-benefit.content-white .inner h4 {
  color: white;
}
.career-benefits .career-benefits-row .career-benefit .inner {
  transform: rotate(-45deg);
  padding: 15px;
}
.career-benefits .career-benefits-row .career-benefit .inner svg {
  display: block;
  width: 60px;
  height: 40px;
  margin: 0 auto 15px auto;
}
.career-benefits .career-benefits-row .career-benefit .inner h4 {
  font: 900 10px/1em frank-new, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8a8f9b;
  text-align: center;
}

#available-positions {
  display: flex;
  justify-content: flex-end;
  background: #f2f4f8;
  padding: 120px;
}
#available-positions .inner {
  width: 100%;
  max-width: 460px;
}

.job-archive-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe2e7;
  padding: 30px 0;
}
.job-archive-block .job-title {
  font: 900 16px/1em objektiv-mk1, sans-serif;
  color: #697286;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
}
.job-archive-block .job-title:hover {
  color: #10192e;
}

#internship-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: #8a8f9b;
  padding: 120px;
}
#internship-block .inner {
  width: 100%;
  max-width: 460px;
}
#internship-block .the-content, #internship-block .gform_wrapper .gform_description, .gform_wrapper #internship-block .gform_description {
  color: white;
}
#internship-block .buttons {
  width: 100%;
  margin-top: 30px;
  text-align: left;
}

#forty-reasons {
  background: #dfe2e7;
  padding: 120px;
}
#forty-reasons .inner {
  width: 100%;
  max-width: 460px;
}

.diamond-list {
  margin: 30px 0;
}
.diamond-list .diamond-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.diamond-list .diamond-list-item:last-child {
  margin-bottom: 0;
}
.diamond-list .diamond-list-item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  font: 900 32px/1em frank-new, sans-serif;
  color: #8a8f9b;
  text-align: center;
  transform: rotate(45deg);
  background: white;
}
.diamond-list .diamond-list-item .number span {
  transform: rotate(-45deg);
}
.diamond-list .diamond-list-item .content {
  width: calc(100% - 100px);
  padding-left: 50px;
  color: #8a8f9b;
}
.diamond-list .diamond-list-item .content h4 {
  font: 900 16px/1.3em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: #697286;
}

.spec-table {
  background: #f2f4f8;
  padding: 30px;
}
.spec-table h3 {
  font: 900 20px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #697286;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dfe2e7;
}
.spec-table .the-content, .spec-table .gform_wrapper .gform_description, .gform_wrapper .spec-table .gform_description {
  font-size: 14px;
  color: #8a8f9b;
}
.spec-table .the-content strong, .spec-table .gform_wrapper .gform_description strong, .gform_wrapper .spec-table .gform_description strong {
  color: #697286;
}

.stock-btn {
  margin-bottom: 25px;
  cursor: default;
}
.stock-btn.out-of-stock {
  background: darkred !important;
  color: white !important;
}

.product-archive-block {
  margin-bottom: 30px;
}
.product-archive-block .fi {
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-archive-block .fi:before {
  content: "";
  display: block;
  padding-top: 66%;
}
.product-archive-block .meta {
  background: white;
  padding: 25px;
}
.product-archive-block .meta h2 {
  font: bold 16px/1em frank-new, sans-serif;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dfe2e7;
}
.product-archive-block .meta h2 a {
  color: #697286;
  transition: all 250ms ease-in-out;
}
.product-archive-block .meta h2 a:hover {
  color: #1f4598;
}
.product-archive-block .meta .the-content, .product-archive-block .meta .gform_wrapper .gform_description, .gform_wrapper .product-archive-block .meta .gform_description {
  font-size: 14px;
  color: #8a8f9b;
}
.product-archive-block .meta .the-content strong, .product-archive-block .meta .gform_wrapper .gform_description strong, .gform_wrapper .product-archive-block .meta .gform_description strong {
  color: #697286;
}

#breadcrumbs {
  font: bold 12px/1em frank-new, sans-serif;
  margin-bottom: 90px;
  color: #8a8f9b;
}
#breadcrumbs a {
  color: #8a8f9b;
  transition: all 250ms ease-in-out;
}
#breadcrumbs a:hover {
  color: #1f4598;
}

#megamenu {
  position: fixed;
  z-index: 4;
  top: 160px;
  left: 0;
  width: 100%;
  background: #697286;
  transition: all 250ms ease-in-out;
  padding: 75px 0;
  display: none;
}
#megamenu.show {
  display: block;
}
#megamenu.active {
  top: 90px;
}
#megamenu .mm-title {
  font: 900 20px/1em objektiv-mk1, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
#megamenu .mm-title.with-border {
  padding-bottom: 25px;
  border-bottom: 2px solid #747e93;
}
#megamenu .mm-title a {
  color: white;
  transition: all 250ms ease-in-out;
}
#megamenu .mm-title a:hover {
  color: #1f4598;
}
#megamenu .nav > li {
  font: bold 14px/1.3em frank-new, sans-serif;
}
#megamenu .nav > li > a {
  color: white;
  transition: all 250ms ease-in-out;
}
#megamenu .nav > li > a:hover {
  color: #1f4598;
}
#megamenu .nav > li > ul {
  margin-top: 15px;
  padding-left: 5px;
}
#megamenu .nav > li > ul > li {
  font: bold 11px/1em frank-new, sans-serif;
  margin-bottom: 15px;
}
#megamenu .nav > li > ul > li > a {
  color: white;
  transition: all 250ms ease-in-out;
}
#megamenu .nav > li > ul > li > a:hover {
  color: #1f4598;
}

.bg-video {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-video .ytplayer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.career-grey {
  background: #f2f4f8;
}

.career-img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.career-img:before {
  content: "";
  display: block;
  padding-top: 56%;
}

#megamenu-pane {
  position: fixed;
  z-index: 2;
  top: 160px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#megamenu-pane.show {
  display: block;
}

#header.active + .covid {
  margin-top: 90px;
}

.covid {
  margin-top: 130px;
  position: fixed;
  width: 100%;
  background-color: #d64339;
  padding: 1.125rem 0;
  text-align: center;
  box-shadow: inset 0 10px 28px -12px rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 700;
  transition: 250ms ease-in-out;
  z-index: 4;
  overflow: hidden;
}
.covid a {
  color: white;
  text-decoration: underline;
}
.covid img {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.copyright {
  text-align: center;
  padding-top: 25px;
  font-size: 12px;
  color: #bfc2c8;
}

@media (max-width: 1600px) {
  #page.with-sidebar #page-inner {
    padding: 60px;
  }

  .landing-form {
    padding: 60px;
  }
}
@media (max-width: 1200px) {
  #home-products {
    margin: 120px 0 500px 0;
  }

  #home-custom .teaser-image-block .teaser-image-content {
    padding: 60px;
  }

  #home-blog {
    padding: 60px 0;
  }

  #footer {
    padding: 60px 0;
  }

  .two-by-two-content-blocks .content-block {
    padding: 60px;
  }

  #header #site-nav > ul > li {
    font-size: 14px;
    margin-right: 25px;
  }

  #megamenu {
    padding: 40px 0;
  }

  #page.with-sidebar #page-inner {
    padding: 40px;
  }
  #page .sidebar-widget {
    padding: 25px;
  }
  #page .sidebar-widget .nav-links > ul {
    padding-bottom: 25px;
  }

  .slice {
    padding: 60px 0;
  }

  .toggle-content-rows .toggle-content-row {
    margin-bottom: 60px;
  }
  .toggle-content-rows .toggle-content-row.odd .content {
    padding-right: 40px;
  }
  .toggle-content-rows .toggle-content-row.even .content {
    padding-left: 40px;
  }

  #about-main-img {
    padding: 60px 0;
  }

  #about-history {
    padding-bottom: 60px;
  }
  #about-history .inner {
    padding-left: 40px;
  }

  .two-by-two-content-blocks .content-block {
    padding: 40px;
  }

  #available-positions,
#forty-reasons,
#internship-block {
    padding: 40px;
  }

  #post-fi {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .title, .gform_wrapper .gform_title {
    margin-bottom: 35px;
  }
  .title.big, .gform_wrapper .big.gform_title {
    font-size: 60px;
  }
  .title.medium, .gform_wrapper .medium.gform_title {
    font-size: 50px;
  }
  .title.small, .gform_wrapper .gform_title {
    font-size: 35px;
  }
  .title.smaller, .gform_wrapper .smaller.gform_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .title.tiny, .gform_wrapper .tiny.gform_title {
    margin-bottom: 15px;
  }
  .title.small-under, .gform_wrapper .small-under.gform_title {
    margin-bottom: 10px;
  }

  .product-diamonds {
    width: 330px;
    height: 330px;
  }
  .product-diamonds .product-diamond {
    width: 135px;
    height: 135px;
  }
  .product-diamonds .product-diamond .inner {
    padding: 10px;
  }
  .product-diamonds .product-diamond .inner svg {
    height: 45px;
  }
  .product-diamonds .product-diamond .inner span {
    font-size: 8px;
  }

  #home-products {
    margin-bottom: 120px;
  }
  #home-products #home-products-content {
    width: calc(100% - 300px);
    padding-right: 40px;
  }

  #home-custom {
    padding-top: 220px;
  }
  #home-custom .teaser-image-block .teaser-image-content {
    padding: 40px;
  }

  .blog-articles .col-12:nth-child(3) {
    display: none;
  }

  .landing-form {
    padding: 40px;
    margin-top: -120px;
  }

  .bg-video {
    background-image: inherit;
  }
  .bg-video .ytplayer-container,
.bg-video .ytplayer-shield {
    display: none;
  }
}
@media (max-width: 1023px) {
  #home-products .d-flex {
    display: block !important;
  }
  #home-products #home-products-content {
    width: 100%;
    padding-right: 0;
  }
  #home-products #home-products-diamonds {
    display: block;
    margin-top: 150px;
  }

  .product-diamonds {
    margin: 0 auto;
  }

  .inner-page #header.active .mobile-menu-trigger svg path {
    fill: white !important;
  }
  .inner-page #header .mobile-menu-trigger svg path {
    fill: #1f4598 !important;
  }

  #header {
    padding: 0 25px;
  }
  #header .mobile-menu-trigger {
    display: block;
  }
  #header #site-nav {
    display: none;
  }
  #header #header-tel {
    top: 10px;
    right: 25px;
    font-size: 16px;
  }

  #home-products {
    margin-top: 60px;
  }

  #home-custom {
    padding-top: 120px;
  }

  .teaser-image-block .teaser-image-img:before {
    content: "";
    display: block;
    padding-top: 66%;
  }

  .title, .gform_wrapper .gform_title {
    margin-bottom: 25px;
  }
  .title.big, .gform_wrapper .big.gform_title {
    font-size: 40px;
  }
  .title.medium, .gform_wrapper .medium.gform_title {
    font-size: 35px;
  }
  .title.small, .gform_wrapper .gform_title {
    font-size: 30px;
  }
  .title.smaller, .gform_wrapper .smaller.gform_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .title.tiny, .gform_wrapper .tiny.gform_title {
    margin-bottom: 10px;
  }

  .two-by-two-content-blocks .content-block {
    padding: 25px;
  }

  #page {
    display: block;
  }
  #page.with-sidebar #sidebar {
    position: absolute;
    top: 160px;
    right: 0;
    transform: translateX(375px);
    transition: all 250ms ease-in-out;
  }
  #page.with-sidebar #sidebar.active {
    transform: translateX(0);
    max-width: calc(100% - 50px);
  }
  #page.with-sidebar #sidebar .sidebar-trigger {
    display: flex;
  }
  #page.with-sidebar #page-inner {
    padding: 25px;
    width: 100%;
  }

  .buttons .btn, .buttons .gform_wrapper .gform_footer .gform_button, .gform_wrapper .gform_footer .buttons .gform_button, .buttons .stock-btn {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .buttons .btn:last-child, .buttons .gform_wrapper .gform_footer .gform_button:last-child, .gform_wrapper .gform_footer .buttons .gform_button:last-child, .buttons .stock-btn:last-child {
    margin-bottom: 0;
  }

  #about-history .inner {
    padding-left: 0;
  }

  .career-benefits {
    margin: 40px auto;
  }
  .career-benefits .career-benefits-row {
    left: auto !important;
    top: auto !important;
  }
  .career-benefits .career-benefits-row .career-benefit {
    transform: none;
    margin: 7px;
  }
  .career-benefits .career-benefits-row .career-benefit .inner {
    transform: none;
  }

  .product-diamonds {
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .product-diamonds .product-diamond {
    float: none;
    flex-basis: auto !important;
  }
  .product-diamonds .product-diamond .inner {
    transform: none;
  }

  .image-banner {
    height: auto;
    padding: 60px 0;
  }

  .landing-form {
    margin-top: 40px;
  }

  .toggles-nav {
    position: static !important;
  }
}
@media (max-width: 767px) {
  .covid {
    margin-top: 90px;
  }

  .two-by-two-content-blocks .content-block.img {
    position: relative;
  }
  .two-by-two-content-blocks .content-block.img:before {
    content: "";
    display: block;
    padding-top: 66%;
  }

  #home-banner,
#careers-banner {
    padding-bottom: 0;
  }

  #header {
    height: 120px;
  }
  #header #site-logo {
    width: 120px;
  }
  #header #site-logo .white-logo {
    display: block !important;
  }
  #header #site-logo .blue-logo {
    display: none !important;
  }
  #header #header-tel {
    color: white !important;
  }

  .inner-page #header .mobile-menu-trigger svg path {
    fill: white !important;
  }

  #main {
    padding-top: 150px;
  }

  .product-diamonds {
    display: block;
    text-align: center;
  }
  .product-diamonds .product-diamond {
    display: inline-block;
  }
  .product-diamonds .product-diamond .inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #home-products {
    margin-bottom: 60px;
  }
  #home-products #home-products-diamonds {
    margin-top: 40px;
  }

  #home-custom {
    padding-top: 140px;
  }
  #home-custom .teaser-image-block .teaser-image-content {
    padding: 25px;
  }

  .btn, .gform_wrapper .gform_footer .gform_button, .stock-btn {
    padding: 15px;
  }

  #header {
    height: 90px;
    background: #1f4598;
  }

  #main {
    padding-top: 90px;
  }

  #footer {
    padding: 60px 0 20px 0;
  }
  #footer .footer-col {
    margin-bottom: 40px;
  }

  #breadcrumbs {
    margin-bottom: 25px;
  }

  .toggles-nav {
    display: block;
    margin: 0;
  }
  .toggles-nav .btn, .toggles-nav .gform_wrapper .gform_footer .gform_button, .gform_wrapper .gform_footer .toggles-nav .gform_button, .toggles-nav .stock-btn {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .toggles-nav .btn:last-child, .toggles-nav .gform_wrapper .gform_footer .gform_button:last-child, .gform_wrapper .gform_footer .toggles-nav .gform_button:last-child, .toggles-nav .stock-btn:last-child {
    margin-bottom: 0;
  }

  .title.big, .gform_wrapper .big.gform_title {
    font-size: 32px;
  }
  .title.medium, .gform_wrapper .medium.gform_title {
    font-size: 28px;
  }
  .title.small, .gform_wrapper .gform_title {
    font-size: 24px;
  }

  .toggle-content-rows .toggle-content-row {
    margin-bottom: 40px;
  }
  .toggle-content-rows .toggle-content-row.odd .content {
    padding-right: 15px;
  }
  .toggle-content-rows .toggle-content-row.even .content {
    padding-left: 15px;
  }
  .toggle-content-rows .toggle-content-row .content {
    padding-bottom: 25px;
    order: 1 !important;
  }
  .toggle-content-rows .toggle-content-row .img {
    order: 2 !important;
  }

  #about-history .inner {
    padding-top: 25px;
  }

  .career-benefits .career-benefits-row {
    display: block !important;
  }
  .diamond-list .diamond-list-item {
    display: block;
  }
  .diamond-list .diamond-list-item .number {
    margin: 0 auto 35px auto;
  }
  .diamond-list .diamond-list-item .content {
    width: 100%;
    padding: 0;
  }

  .the-content h2, .gform_wrapper .gform_description h2 {
    font-size: 28px;
  }
  .the-content h3, .gform_wrapper .gform_description h3 {
    font-size: 24px;
  }

  .icon-content {
    display: block;
  }
  .icon-content .icon {
    margin: 45px auto;
  }
  .icon-content .content {
    width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .covid .wrapper {
    width: 75%;
  }
  .covid .close-modal {
    right: -1.5em;
    top: -0.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
