@import 'base.scss';

/*
 * thin : 200
 * light : 300
 * regular : 400
 * medium : 500
 * bold : 700
 * extra bold : 800
 * black : 900
 */
$font: frank-new, sans-serif;
$font-title: objektiv-mk1, sans-serif;

$white: white;

$light-grey: #f2f4f8;
$medium-light-grey: #dfe2e7;
$grey: #bfc2c8;
$medium-grey: #8a8f9b;
$dark-grey: #697286;
$dark-grey-border: #747e93;

$black: black;

$light-blue: #a3b7e6;
$blue: #1f4598;
$dark-blue: #10192e;

$transition: 250ms ease-in-out;
$z-index: main, megamenu-pane, header, megamenu, mobile-menu;

.wow {
  visibility: hidden;
}

body, html {
  position: relative;
  font: 16px/1.51em $font;
  overflow-x: hidden;
}

.the-content ol {
  padding-top: 30px;
  padding-left: 30px;

  li {
    margin-bottom: 30px;
  }
}

.medium-grey {
  color: $medium-grey;
}

.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;

  &.medium {
    max-width: 1420px;
  }

  &.large {
    max-width: 1670px;
  }

  &.small {
    max-width: 930px;
  }
}

.home {

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    //width: 960px;
    //height: 1080px;
    background: $blue;
  }
}

.inner-page {

  #header {

    #site-logo {

      .blue-logo {
        display: block;
      }

      .white-logo {
        display: none;
      }
    }

    #site-nav {

      > ul {

        > li {

          &.current-menu-item {

            a {
              color: $blue;
            }
          }

          a {
            color: $grey;
          }
        }
      }
    }

    #header-tel {
      color: $blue;
    }

  }


}

.v-align {
  @include v-align();
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font: 900 10px/1em $font-title;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
  background: $blue;
  color: $white !important;
  border: 0;
  cursor: pointer;
  transition: all $transition;
  -webkit-appearance: none;

  &:hover {
    background: $dark-blue;
  }

  &.white {
    background: $white;
    color: $dark-grey !important;

    &:hover {
      background: $dark-blue;
      color: $white !important;
    }
  }

  &.full {
    width: 100%;
  }

  &.grey {
    background: $light-grey;
    color: $dark-grey !important;

    &:hover {
      background: $medium-grey;
      color: $white !important;
    }
  }

  &.med-grey {
    background: $medium-light-grey;
    color: $dark-grey !important;

    &:hover {
      background: $medium-light-grey;
      color: $dark-grey !important;
    }
  }
}

.buttons {

  .btn {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.title {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;

  &.big {
    font: 900 95px/1.3em $font-title;
  }

  &.medium {
    font: 900 62px/1.3em $font-title;
  }

  &.small {
    font: 900 42px/1.3em $font-title;
  }

  &.smaller {
    font: 900 20px/1.3em $font-title;
    margin-bottom: 25px;
  }

  &.tiny {
    font: 900 10px/1.3em $font-title;
    margin-bottom: 30px;
  }

  &.dark-grey {
    color: $dark-grey;
  }

  &.medium-grey {
    color: $medium-grey;
  }

  &.white {
    color: $white;
  }

  &.blue {
    color: $blue;
  }

  &.small-under {
    margin-bottom: 10px;
  }
}

.the-content {

  *:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    font: {
      family: $font-title;
      weight: 900;
    }
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h1 {
    font: 900 95px/1.3em $font-title;
  }

  h2 {
    font: 900 62px/1.3em $font-title;
  }

  h3 {
    font: 900 42px/1.3em $font-title;
  }

  h4 {
    font: 900 20px/1.3em $font-title;
  }

  h5 {
    font: 900 18px/1.3em $font-title;
  }

  h6 {
    font: 900 10px/1.3em $font-title;
  }

  a {
    color: $blue;
    transition: all $transition;
    font-weight: bold;

    &:hover {
      color: $dark-grey;
    }
  }

  .btn-box {
    display: inline-block;
    margin-bottom: 30px;
  }
}

#mobile-menu {
  display: none;
  position: fixed;
  z-index: index($z-index, mobile-menu);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white;
  padding: 25px;

  &.active {
    display: block;
  }

  .mobile-menu-trigger {
    position: absolute;
    top: 25px;
    right: 25px;
    font: 900 40px/1em $font-title;
    color: $blue;
    transition: all $transition;

    &:hover {
      color: $dark-grey
    }
  }

  > ul {
    overflow-y: scroll;

    > li {
      font: 900 22px/1em $font-title;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;

      > a {
        color: $blue;
        transition: all $transition;

        &:hover {
          color: $dark-grey
        }
      }

      > ul {
        padding: 10px 0 0 10px;

        > li {
          font: 700 18px/1em $font-title;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 10px;

          > a {
            color: $blue;
            transition: all $transition;

            &:hover {
              color: $dark-grey
            }
          }
        }
      }
    }
  }
}

#header {
  position: fixed;
  z-index: index($z-index, header);
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 45px;
  height: 160px;
  transition: $transition;

  .mobile-menu-trigger {
    display: none;
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
    }
  }

  &.active {
    height: 90px;
    background: $blue;

    #site-logo {
      width: 120px;

      .blue-logo {
        display: none;
      }

      .white-logo {
        display: block;
      }
    }

    #site-nav {

      > ul {

        > li {

          &.current-menu-item {

            a {
              color: $dark-blue;
            }
          }

          a {
            color: $white;

            &:hover {
              color: $dark-blue;
            }
          }
        }
      }
    }

    #header-tel {
      color: $white;
    }
  }

  #site-logo {
    width: 150px;
    transition: $transition;

    .blue-logo {
      display: none;
    }
  }

  #site-nav {
    padding-left: 25px;

    > ul {
      display: flex;

      > li {
        font: 700 16px/1em $font;
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }

        &.current-menu-item {

          a {
            color: $dark-blue;
          }
        }

        a {
          color: $white;
          transition: $transition;

          &:hover {
            color: $dark-grey;
          }
        }
      }
    }
  }

  #header-tel {
    position: absolute;
    top: 10px;
    right: 45px;
    font: 700 18px/1em $font;
    color: $white;
    transition: all $transition;

    &:hover {
      color: $dark-blue;
    }
  }
}

#main {
  position: relative;
  z-index: index($z-index, main);
  padding-top: 160px;
}

#footer {
  padding: 130px 0;

  #footer-logo {
    width: 105px;
  }

  .footer-col {
    font: 800 14px/1.65em $font;
    color: $grey;

    .footer-col-title {
      font: 500 24px/1em $font;
      color: $grey;
      margin-bottom: 35px;
    }

    a {
      color: $grey;
      transition: all $transition;

      &:hover {
        color: $blue;
      }
    }
  }
}

.social-icons {
  display: inline-flex;
  align-items: center;

  li {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.facebook-icon {

      svg {
        width: 9px;
        height: 20px;
      }
    }

    &.linkedin-icon {

      svg {
        width: 17px;
        height: 16px;
      }
    }

    &.youtube-icon {

      svg {
        width: 20px;
        height: 14px;
      }
    }

    &.instagram-icon {

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &.twitter-icon {

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {

      path {
        fill: $blue;
      }
    }

    path {
      fill: $grey;
      transition: $transition;
    }

    a {
      display: block;
    }
  }
}

#home-banner,
#careers-banner {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 120px;
  min-height: 85vh;
  overflow: hidden;

  .overlay {
    @include overlay($blue);
    overlay: .65;
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    z-index: 3;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
  }

  .content {

    .title {
      color: $white;
    }

    .the-content {
      color: $light-blue;
      margin-bottom: 30px;
    }
  }
}

#home-products {
  margin: 240px 0 300px 0;
  color: $dark-grey;

  #home-products-content {
    width: calc(100% - 370px);
    padding-right: 100px;
  }

  #home-products-diamonds {
    display: flex;
    justify-content: flex-end;
  }
}

#home-partners {
  padding-bottom: 600px;
}

.partners-slider {
  //display: flex;
  margin: 40px;
  overflow: hidden;

  .partner-block-parent {
    display: block;
    float: left;
    width: 200px;
    margin: 0 20px;
  }

  .partner-block {
    display: block;
    position: relative;
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 60%;
    }
  }

  .the-content {
    margin-top: 10px;
    font: 13px/1.65em $font;
    text-align: center;
    color: $medium-grey;
  }
}

#home-custom {
  background: $light-grey;
  padding-top: 340px;

  .teaser-image-block {
    margin-top: -680px;
  }
}

.teaser-image-block {

  .teaser-image-img {
    display: block;
    position: relative;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center;
    }

    &:hover {

      &:after {
        opacity: 0;
      }
    }

    &:after {
      @include overlay(rgba($dark-blue, .4));
      transition: all $transition;
    }
  }

  .teaser-image-content {
    background: $blue;
    color: $white;
    padding: 120px;

    .the-content {
      color: $light-blue;
      margin-bottom: 40px;
    }
  }
}

.video-player {
  display: block;
  position: relative;
  max-height: 800px;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  &:hover {

    &:after {
      opacity: 0;
    }
  }

  &:before {
    content: '';
    display: block;
    padding-top: 75%;
  }

  &:after {
    @include overlay(rgba($dark-blue, .4));
    transition: all $transition;
  }
}

#home-blog {
  background: $light-grey;
  padding: 130px 0;

  .title {
    color: $dark-grey;
  }
}

.blog-archive-block {
  margin-bottom: 30px;

  .img {
    position: relative;
    display: block;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center;
    };
    opacity: .9;
    transition: all $transition;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 66%;
    }
  }

  .content {
    padding: 25px 30px;
    background: $white;

    h4 {
      font: 700 16px/1.3em $font;
      margin-bottom: 20px;

      a {
        color: $medium-grey;
        transition: all $transition;

        &:hover {
          color: $blue;
        }
      }
    }

    time {
      display: block;
      font: 900 10px/1em $font-title;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $dark-grey;
      margin-bottom: 25px;
    }

    .the-content {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .category-links {
      margin-bottom: 30px;

      a {
        font: 900 10px/1em $font-title;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue;
        transition: all $transition;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.product-diamonds {
  @extend .clearfix;
  transform: rotate(45deg);
  width: 370px;
  height: 370px;

  .product-diamond {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    margin: 7px;
    transition: all $transition;

    &:nth-child(2n) {
      flex-basis: 100%;
    }

    &:hover {
      background: $blue !important;

      .inner {

        svg {

          path {
            fill: $white;
          }
        }

        span {
          color: $white;
        }
      }
    }

    &.diamond-1 {
      background: $light-grey;
    }

    &.diamond-2 {
      background: $grey;
    }

    &.diamond-3 {
      background: $medium-grey;
    }

    &.diamond-4 {
      background: $dark-grey;
    }

    &.diamond-3,
    &.diamond-4 {

      .inner {

        svg {

          path {
            fill: $white;
          }
        }

        span {
          color: $white;
        }
      }
    }

    .inner {
      text-align: center;
      transform: rotate(-45deg);

      svg {
        display: block;
        margin: 0 auto 10px auto;
        width: auto;
        height: 60px;

        path {
          fill: $dark-grey;
          transition: all $transition;
        }
      }

      span {
        display: block;
        font: 900 10px/1em $font-title;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark-grey;
        transition: all $transition;
      }
    }
  }
}

#about-main-img {
  position: relative;
  padding: 120px 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    bottom: 0;
    background: $light-grey;
  }
}

#about-history {
  background: $light-grey;
  padding-bottom: 120px;

  .inner {
    padding-left: 110px;
  }

  .the-content {
    margin-bottom: 30px;
  }
}

#page {

  &.with-sidebar {
    display: flex;

    #page-inner {
      position: relative;
      z-index: 1;
      width: calc(100% - 375px);
      padding: 120px 185px;
      background: $light-grey;
    }
  }

  #sidebar {
    z-index: 2;
    width: 375px;
    background: $medium-light-grey;
    color: $dark-grey;

    &.active {

      .sidebar-trigger {
        transform: rotate(180deg);
      }
    }

    .sidebar-trigger {
      display: none;
      position: absolute;
      top: 0;
      left: -45px;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      background: $blue;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .sidebar-widget {
    padding: 45px;

    &.dark-grey {
      background: $dark-grey;
      color: $white;

      .btn {
        color: $dark-grey;

        &:hover {
          color: $white;
        }
      }
    }

    .widget-title {
      font: 900 24px/1.3em $font-title;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    .widget-content {
      margin-bottom: 30px;
    }

    .nav-links {

      > ul {
        padding-bottom: 50px;
        border-bottom: 2px solid darken($medium-light-grey, 5%);

        > li {
          font: 700 14px/1em $font;
          margin-bottom: 30px;

          &.current-cat {

            a {
              color: $blue;
            }
          }

          > ul {
            padding: 15px 0 0 20px;

            > li {
              font: 700 12px/1em $font;
              margin-bottom: 15px;

              > a {
                color: $medium-grey;
                transition: all $transition;

                &:hover {
                  color: $blue;
                }
              }
            }
          }

          a {
            color: $medium-grey;
            transition: all $transition;

            &:hover {
              color: $blue;
            }
          }
        }
      }

      li.current-cat a {
        color: $blue !important;
      }
    }
  }
}

.infinite-scroll {
  padding-bottom: 30px;

  &.loading {
    background: {
      image: url("../images/loader.svg");
      position: bottom center;
      repeat: no-repeat;
      size: 30px;
    }
  }

  .infinite-finished-message {
    text-align: center;
    font: 900 18px/1em $font;
    color: $blue;
  }
}

.slice {
  position: relative;
  z-index: 2;
  padding: 120px 0;

  &.no-top {
    padding-top: 0;
  }

  &.no-bottom {
    padding-bottom: 0;
  }

  &.light-grey {
    background: $light-grey;

    .the-content {
      color: $medium-grey;
    }
  }

  &.half-content {

    .inner {
      max-width: 500px;
    }
  }

  .buttons {
    margin-top: 30px;

  }
}

.single-post-categories {
  font: 900 20px/1em $font-title;
  margin-bottom: 15px;
  text-transform: uppercase;

  a {
    color: $medium-grey;
    transition: all $transition;

    &:hover {
      color: $blue;
    }
  }

  time {
    display: block;
    font: normal 14px/1em $font;
    color: $medium-grey;
  }
}

#post-fi {
  margin: 120px 0 0 0;
}

#post-content {
  color: $medium-grey;
}

.facebook-share {
  display: flex;
  align-items: center;
  margin-top: 40px;

  &:hover {

    svg {

      path {
        fill: $dark-grey;
      }
    }

    span {
      color: $dark-grey;
    }
  }

  svg {
    width: 9px;
    height: 20px;
    margin-right: 10px;

    path {
      fill: $blue;
      transition: all $transition;
    }
  }

  span {
    font: 900 10px/1em $font-title;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $blue;
    transition: all $transition;
  }
}

.two-by-two-content-blocks {

  .content-block {
    display: flex;
    padding: 120px;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center;
    }

    &.no-top {
      padding-top: 30px;
    }

    &.left {
      justify-content: flex-end;
    }

    &.right {
      justify-content: flex-start;
    }

    &.light-grey,
    &.grey {
      background: $light-grey;
    }

    .inner {
      width: 100%;
      max-width: 460px;
    }

    .buttons {
      margin-top: 30px;
    }
  }
}

.gform_wrapper {

  .validation_error {
    background: $blue;
    padding: 25px;
    color: $white;
    margin-bottom: 25px;
    font: 14px/1.65em $font;
  }

  .gform_title {
    @extend .title, .small, .dark-grey;
  }

  .gform_description {
    @extend .the-content;

    display: block;
    margin-bottom: 30px;
  }

  .gform_fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;


    .gfield {
      margin-bottom: 16px;
      padding-left: 8px;
      padding-right: 8px;

      &.hidden_label {

        > label {
          display: none;
        }
      }


      .validation_message {
        font: 12px/1em $font;
        margin: 10px 0;
        color: $dark-blue;
      }

      > label {
        display: block;
        margin-bottom: 5px;
        font: 900 10px/1em $font-title;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $dark-grey;
      }

      .gfield_checkbox,
      .gfield_radio {

        li {
          display: flex;
          margin-bottom: 5px;

          input {
            width: auto;
            height: auto;
            margin: 0 10px 0 0;
          }

          label {
            //font: 700 12px/1em $font;
          }
        }
      }

      select {
        display: block;
        width: 100%;
        height: 45px;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        @include placeholder($dark-grey);

        width: 100%;
        height: 45px;
        padding: 20px;
        font: bold 12px/1em $font;
        color: $dark-grey;
        background: $medium-light-grey;
      }

      input[type="file"] {
        display: block;
        width: 100%;
        background: $blue;
        color: $white;
        padding: 20px;
      }

      textarea {
        @include placeholder($dark-grey);

        width: 100%;
        height: 45px;
        padding: 20px;
        font: bold 12px/1em $font;
        color: $dark-grey;
        background: $medium-light-grey;
        height: 220px;
        resize: vertical;
      }
    }
  }

  .gform_footer {

    .gform_button {
      @extend .btn;
    }
  }
}

.gform_ajax_spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.gform_confirmation_message {
  background: $blue;
  padding: 25px;
  color: $white;
  font: 14px/1.65em $font;

  p {
    color: $white;
  }
}

.chosen-container {
  width: 100% !important;

  &.chosen-container-active.chosen-with-drop {

    .chosen-single {
      height: 45px;
      background: $blue;
      color: $white;
      font: bold 12px/45px $font;
      text-transform: uppercase;
      border-radius: 0;
      border: 0;
      padding: 0 0 0 20px;
      box-shadow: none;

      div {

        b {
          position: absolute;
          top: 21px;
          right: 15px;
          width: 7px;
          height: 3px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 3.5px 0 3.5px;
            border-color: $white transparent transparent transparent;
          }
        }
      }
    }
  }

  .chosen-single {
    height: 45px;
    background: $blue;
    color: $white;
    font: bold 12px/45px $font;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    padding: 0 0 0 20px;
    box-shadow: none;

    div {

      b {
        position: absolute;
        top: 21px;
        right: 15px;
        width: 7px;
        height: 3px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3px 3.5px 0 3.5px;
          border-color: $white transparent transparent transparent;
        }
      }
    }
  }

  .chosen-drop {
    border: 1px solid $grey;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .chosen-results {

    li {
      font: bold 12px/1.65em $font;
      color: $dark-grey;

      &.highlighted {
        background: $blue;
        color: $white;
      }
    }
  }
}

.contact-rows {

  .contact-row {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.google-map {
  height: 440px;
}

.toggles-nav {
  //transition: all $transition;

  .wrapper {
    display: flex;
  }

  &.stick {
    position: fixed;
    top: 90px;
    width: 100%;
    background: $white;
    padding: 15px 0;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 0 17px;

    /*&.active{
        background: $medium-grey;
        color: $white !important;
    }*/
  }
}

.toggle {
  padding-bottom: 120px;
  margin-bottom: 120px;
  border-bottom: 2px solid $medium-light-grey;
  /*display: none;

  &.active{
      display: block;
  }*/
}

.toggle-content-rows {

  .toggle-content-row {
    margin-bottom: 120px;

    &:last-child {
      margin-bottom: 0;
    }

    &.odd {

      .content {
        padding-right: 110px;
      }

      .img {

      }
    }

    &.even {

      .content {
        order: 2;
        padding-left: 110px;
      }

      .img {
        order: 1;
      }
    }

    .toggle-title,
    .toggle-subtitle {
      font: 900 20px/1em $font-title;
      text-transform: uppercase;
      color: $dark-grey;
    }

    .toggle-subtitle {
      margin-bottom: 30px;
    }

    .the-content {
      font: 14px/1.65em $font;
      color: $medium-grey;
    }

    .buttons {
      margin-top: 25px;
    }
  }
}

.image-banner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 60vh;
  max-height: 630px;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  &:before {
    @include overlay(rgba($dark-grey, .64));
  }

  &:after {
    @include overlay(rgba($blue, .6));
  }

  .wrapper {
    z-index: 2;
  }
}

.icon-content {
  display: flex;

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 125px;
      height: 125px;
      background: $light-grey;
      transform: rotate(-45deg);
    }

    img {
      width: 45px;
      height: 45px;
    }
  }

  .content {
    width: calc(100% - 125px);
    padding-left: 60px;
    color: $medium-grey;
  }
}

.landing-form {
  background: $light-grey;
  padding: 120px;
  margin-top: -240px;

  .gform_title {
    font-size: 24px;
  }
}

.project-archive-block {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 30px;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  &:hover {

    &:after {
      opacity: 0;
    }
  }

  &:before {
    content: '';
    display: block;
    padding-top: 65%;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(55, 59, 67, 1) 0%, rgba(55, 59, 67, 0.96) 4%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(55, 59, 67, 1) 0%, rgba(55, 59, 67, 0.96) 4%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(45deg, rgba(55, 59, 67, 1) 0%, rgba(55, 59, 67, 0.96) 4%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#373b43', endColorstr='#00ffffff', GradientType=1);
    transition: all $transition;
  }

  .content {
    position: absolute;
    z-index: 2;
    padding: 25px;
    color: $white;
    font: bold 16px/1em $font;
  }
}

.career-benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px 0 0 -140px;

  .career-benefits-row {
    position: relative;
    display: flex;
    justify-content: center;

    &:nth-child(even) {
      left: 140px;
      top: -35px;
    }

    .career-benefit {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 170px;
      background: $light-grey;
      transform: rotate(45deg);
      margin: 0 55px;

      &.bg-dark-grey {
        background: $dark-grey;
      }

      &.bg-light-grey {
        background: $medium-light-grey;
      }

      &.bg-blue {
        background: $blue;
      }

      &.content-grey {

        .inner {

          svg {

            path {
              fill: $medium-grey;
            }
          }

          h4 {
            color: $medium-grey;
          }
        }
      }

      &.content-white {

        .inner {

          svg {

            path {
              fill: $white;
            }
          }

          h4 {
            color: $white;
          }
        }
      }

      .inner {
        transform: rotate(-45deg);
        padding: 15px;

        svg {
          display: block;
          width: 60px;
          height: 40px;
          margin: 0 auto 15px auto;
        }

        h4 {
          font: 900 10px/1em $font;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $medium-grey;
          text-align: center;
        }
      }
    }
  }
}

#available-positions {
  display: flex;
  justify-content: flex-end;
  background: $light-grey;
  padding: 120px;

  .inner {
    width: 100%;
    max-width: 460px;
  }
}

.job-archive-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $medium-light-grey;
  padding: 30px 0;

  .job-title {
    font: 900 16px/1em $font-title;
    color: $dark-grey;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all $transition;

    &:hover {
      color: $dark-blue;
    }
  }
}

#internship-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: $medium-grey;
  padding: 120px;

  .inner {
    width: 100%;
    max-width: 460px;
  }

  .the-content {
    color: $white;
  }

  .buttons {
    width: 100%;
    margin-top: 30px;
    text-align: left;
  }
}

#forty-reasons {
  background: $medium-light-grey;
  padding: 120px;

  .inner {
    width: 100%;
    max-width: 460px;
  }
}

.diamond-list {
  margin: 30px 0;

  .diamond-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      font: 900 32px/1em $font;
      color: $medium-grey;
      text-align: center;
      transform: rotate(45deg);
      background: $white;

      span {
        transform: rotate(-45deg);
      }
    }

    .content {
      width: calc(100% - 100px);
      padding-left: 50px;
      color: $medium-grey;

      h4 {
        font: 900 16px/1.3em $font-title;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px;
        color: $dark-grey;
      }
    }
  }
}

.spec-table {
  background: $light-grey;
  padding: 30px;

  h3 {
    font: 900 20px/1em $font-title;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $dark-grey;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $medium-light-grey;
  }

  .the-content {
    font-size: 14px;
    color: $medium-grey;

    strong {
      color: $dark-grey;
    }
  }
}

.stock-btn {
  @extend .btn, .med-grey;

  margin-bottom: 25px;
  cursor: default;

  &.out-of-stock {
    background: darkred !important;
    color: $white !important;
  }
}

.product-archive-block {
  margin-bottom: 30px;

  .fi {
    display: block;
    position: relative;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 66%;
    }
  }

  .meta {
    background: $white;
    padding: 25px;

    h2 {
      font: bold 16px/1em $font;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid $medium-light-grey;

      a {
        color: $dark-grey;
        transition: all $transition;

        &:hover {
          color: $blue;
        }
      }
    }

    .the-content {
      font-size: 14px;
      color: $medium-grey;

      strong {
        color: $dark-grey;
      }
    }
  }
}

#breadcrumbs {
  font: bold 12px/1em $font;
  margin-bottom: 90px;
  color: $medium-grey;

  a {
    color: $medium-grey;
    transition: all $transition;

    &:hover {
      color: $blue;
    }
  }
}

#megamenu {
  position: fixed;
  z-index: index($z-index, megamenu);
  top: 160px;
  left: 0;
  width: 100%;
  background: $dark-grey;
  transition: all $transition;
  padding: 75px 0;
  display: none;

  &.show {
    display: block;
  }

  &.active {
    top: 90px;
  }

  .mm-title {
    font: 900 20px/1em $font-title;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;

    &.with-border {
      padding-bottom: 25px;
      border-bottom: 2px solid $dark-grey-border;
    }

    a {
      color: $white;
      transition: all $transition;

      &:hover {
        color: $blue;
      }
    }
  }

  .nav {

    > li {
      font: bold 14px/1.3em $font;

      > a {
        color: $white;
        transition: all $transition;

        &:hover {
          color: $blue;
        }
      }

      > ul {
        margin-top: 15px;
        padding-left: 5px;

        > li {
          font: bold 11px/1em $font;
          margin-bottom: 15px;

          > a {
            color: $white;
            transition: all $transition;

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.bg-video {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  .ytplayer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.career-grey {
  background: $light-grey;
}

.career-img {
  position: relative;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  &:before {
    content: '';
    display: block;
    padding-top: 56%;
  }
}

#megamenu-pane {
  position: fixed;
  z-index: index($z-index, megamenu-pane);
  top: 160px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.show {
    display: block;
  }
}

#header {
  &.active {
    + .covid {
      margin-top: 90px;
    }
  }
}

.covid {
  margin-top: 130px;
  position: fixed;
  width: 100%;
  background-color: #d64339;
  padding: 1.125rem 0;
  text-align: center;
  box-shadow: inset 0 10px 28px -12px rgba(0, 0, 0, .75);
  color: white;
  font-weight: 700;
  transition: $transition;
  z-index: 4;
  overflow:hidden;

  a {
    color: $white;
    text-decoration:underline;
  }

  img {
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.copyright{
  text-align: center;
  padding-top: 25px;
  font-size: 12px;
  color: $grey;
}

@import 'responsive.scss';