body.login {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('../fw/core/assets/images/default-login-bg.jpg');
	color: black;
	font-family: 'HurmeGeometricSans2-SemiBold', 'Segoe UI', sans-serif;
	overflow: hidden;
}

#login {
	width: 380px;
	padding-top: 100px !important;
}

.login form {
	padding-bottom: 5px;
}

body.login div#login h1 a {
	width: 100%;
	height: 130px;
	margin-bottom: 70px;
	background: url('../fw/core/assets/images/kantaloup-logo-white.svg') center no-repeat;
	background-size: auto 100%;
}

body.login div#login h1 a:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

body.login div#login form {
	background: none;
	box-shadow: none;
}

body.login div#login form p.submit input#wp-submit {
	height: auto;
	padding: 3px 10px;
	/*border-right: 5px solid #00e7ca;*/
	/*border-bottom: 5px solid #00e7ca;*/
	border: 3px solid white;
	border-radius: 2px;
	font-size: 16px;
	text-transform: uppercase;
	background: none;
	text-shadow: none;
	display: inline-block;
	color: white;
	outline: none;
	box-shadow: none;
}

.login label {
	font-size: 16px;
	color: white;
}

form > p {
	margin-bottom: 20px !important;
}

body.login div#login form input {
	margin-top: 10px;
	padding: 10px;
	border-top: none;
	border-left: none;
	/*border-right: 5px solid #00e7ca;*/
	/*border-bottom: 5px solid #00e7ca;*/
	border-radius: 0 !important;
	font-size: 16px;
	box-shadow: none;
	background: white;
	font-weight: 500;
}

#login_error {
	border-left: none !important;
	background: rgba(255, 95, 91, .5) !important;
}

.login #login_error, .login .message {
	width: 310px;
	margin: 0 auto;
	border-left: none;
	background: rgba(255, 255, 255, .5) !important;
}

#nav a,
#backtoblog a {
	color: white !important;
}

#backtoblog {
	margin-top: 5px !important;
}

.forgetmenot {
	position: relative;
	padding-left: 40px;
	margin-top: 20px;
}

.forgetmenot input[type="checkbox"] {
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	text-indent: 9999px;
}

.forgetmenot label.ch .f {
	background-image: url('../fw/core/assets/images/checkmark-white.png');
	background-size: 20px;
	background-repeat: no-repeat;
}

.forgetmenot .f {
	width: 20px;
	height: 20px;
	display: block;
	border: 3px solid white;
	border-radius: 0;
	position: absolute;
	top: -2px;
	left: 0;
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.bg-video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}